{% extends 'AppBundle:Mobile:flowBase.html.twig' %}
{% block page_title %}{{ 'title.3d' | trans }}{% endblock %}
{% block ajaxUrl %}{{ path('3d') }}{% endblock %}
{% block alertBlock %}
<div class="jumbotron jumbotron-welcome">
    <img src="{{ asset('images/3d.png') }}">
    <div class="jumbotron-content">
        <h1>{% if category is not null %}{{ category.getName | trans }}{% else %}{{ 'title.3d' | trans }}{% endif %}</h1>
        <p>{{ 'flow.3d.description' | trans }}</p>
    </div>
</div>
{% endblock %}
{% block categories %}
    <ul class="categories-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% if category is not null %}{{ category.getName | trans }}{% else %}{{ 'title.3d' | trans }}{% endif %}<span class="caret"></span></a>
            <ul id="header-dropdown-menu" class="dropdown-menu" role="menu">
                <li><a href="{{ path('3d_subcategory', { 'subCategory': 'interiors' }) }}">{{ 'interiors' | trans }}</a></li>
                <li><a href="{{ path('3d_subcategory', { 'subCategory': 'exteriors' }) }}">{{ 'exteriors' | trans }}</a></li>
                <li><a href="{{ path('3d_subcategory', { 'subCategory': 'creative' }) }}">{{ 'creative' | trans }}</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
{% block emptyFlow %}
    <div class="empty-flow">
        <span class="glyphicon glyphicon-picture"></span>
        <h3>{{ 'flow.empty.category' | trans | raw }}</h3>
    </div>
{% endblock %}