{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'title.activity' | trans }}{% endblock %}
{% block activityActive %}active{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"><a class="chevron" href="{{ referer }}"><i class="zmdi zmdi-chevron-left"></i></a></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'title.activity' | trans }}</h1>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="container-fluid nopadding activity-wrapper">
        {% for activity in app.user.getActivity %}
            {% if app.user.getId != activity.getUser.getId %}
                <div class="activity clearfix">
                    <div class="activity-avatar">
                        {% if activity.getType == 4 or activity.getType == 5 %}
                            <img src="{% if activity.getUser.avatar %}{{ activity.getUser.getAvatarImageUrl }}{% else %}{% if activity.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" />
                        {% else %}
                        <a href="{{ path('profile', { username : activity.getUser.getUsername }) }}">
                            <img src="{% if activity.getUser.avatar %}{{ activity.getUser.getAvatarImageUrl }}{% else %}{% if activity.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" />
                        </a>
                        {% endif %}
                    </div>
                    <div class="activity-src">
                        {% if activity.getType == 2 or activity.getType == 3 or activity.getType == 4 or activity.getType == 5 %}
                            <a href="{{ path('photo', { id: activity.getPhoto.getId }) }}"><img src="{{ activity.getPhoto.getImage }}" /></a>
                        {% endif %}
                    </div>
                    <div class="activity-content">
                        {% if activity.getType == 1 %}
                            {{ 'activity.follow' | trans({'%username%': activity.getUser.getUsername, '%profile%': path('profile', {'username': activity.getUser.getUsername })}) | raw }}
                        {% elseif activity.getType == 2 %}
                            {{ 'activity.like' | trans({'%username%': activity.getUser.getUsername, '%profile%': path('profile', {'username': activity.getUser.getUsername })}) | raw }}
                        {% elseif activity.getType == 3 %}
                            {{ 'activity.comment' | trans({'%username%': activity.getUser.getUsername, '%profile%': path('profile', {'username': activity.getUser.getUsername })}) | raw }}
                        {% elseif activity.getType == 4 %}
                            {{ 'activity.moderation.accepted' | trans }}
                        {% elseif activity.getType == 5 %}
                            {{ 'activity.moderation.rejected' | trans({ '%rejectReason%': activity.getPhoto.getRejectReason }) | raw }}
                        {% endif %}
                        <div class="activity-date">{{ activity.getCreationDate | time_diff }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock body %}