<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{% block page_title %}{% endblock %} — EmotionFolio{% endblock %}</title>
        <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon" />
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/mobile/mobile.css?v=1.3.1') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/icon-animation.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/material-design-iconic-font.min.css') }}" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% if app.user is not null %}{% include 'AppBundle:Mobile:footer.html.twig' %}{% else %}{% include 'AppBundle:Mobile:footerIndex.html.twig' %}{% endif %}
        <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascript %}{% endblock %}
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80842121-1', 'auto');
        ga('send', 'pageview');
        </script>
    </body>
</html>
