{% extends "AppBundle:Mobile:baseWithoutFooter.html.twig" %}
{% block page_title %}{{ 'title.comments' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"><a class="chevron" href="{{ referer }}"><i class="zmdi zmdi-chevron-left"></i></a></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'title.comments' | trans }}</h1>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="container-fluid padding-footer comments">
        {% for comment in photo.getComments %}
        <div id="{{ comment.getId }}" class="comment clearfix">
            <div class="col-xs-12">
                <div class="col-xs-8 row">
                    <div class="comment-avatar"><img src="{% if comment.getUser.avatar %}{{ comment.getUser.getAvatarImageUrl }}{% else %}{% if comment.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" alt="{{ comment.getUser.getUsername }}" /></div>
                    <div class="comment-username">{{ comment.getUser.getUsername }}</div>
                </div>
                <div class="col-xs-4 nopadding comment-creation-date nopadding">
                    {{ comment.getCreationDate|time_diff }}
                </div>
            </div>
            <div class="col-xs-12 comment-content">
                {{ comment.getContent }}
                {% set difference = comment.getCreationDate.diff(date("now")) %} 
                {% if (difference.h < 1 and difference.i < 15) and (app.user.getId == comment.getUser.getId) %}
                    <i class="zmdi zmdi-delete delete-comment"></i>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if app.user is not null %}
        <div class="add-comment">
            <form class="add-comment-form" action="{{ path('add_comment') }}" method="POST" class="form-horizontal">
                <div class="col-xs-9 nopadding">
                    {{ form_widget(form.content, { 'attr': {'class': 'form-control comment-input', 'placeholder' : 'Add a comment', 'autocomplete' : 'off'} }) }}
                </div>
                <div class="col-xs-3">
                    <div class="comment-submit">{{ 'comment.submit' | trans }}</div> 
                </div>
            </form>
            
            {{ form_widget(form._token) }}
        </div>
    {% endif %}
{% endblock body %}
{% block javascript %}
    <script>
        var 
            addCommentUrl = '{{ path('add_comment') }}',
            deleteCommentUrl = '{{ path('delete_comment') }}',
            photoId = {{ photo.getId }};
    </script>
    <script src="{{ asset('js/mobile/comment.js') }}"></script>
{% endblock %}