<div id="{{ comment.getId }}" class="comment clearfix">
    <div class="col-xs-12">
        <div class="col-xs-8 row">
            <div class="comment-avatar"><img src="{% if comment.getUser.avatar %}{{ comment.getUser.getAvatarImageUrl }}{% else %}{% if comment.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" alt="{{ comment.getUser.getUsername }}" /></div>
            <div class="comment-username">{{ comment.getUser.getUsername }}</div>
        </div>
        <div class="col-xs-4 row comment-creation-date nopadding">{{ 'comment.just.now' | trans }}</div>
    </div>
    <div class="col-xs-12 comment-content">
        {{ comment.getContent }}
        {% set difference = comment.getCreationDate.diff(date("now")) %} 
        {% if (difference.h < 1 and difference.i < 15) and (app.user.getId == comment.getUser.getId) %}
            <i class="zmdi zmdi-delete delete-comment"></i>
        {% endif %}
    </div>
</div>