{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'title.contact' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"><a class="chevron" href="{{ path('index') }}"><i class="zmdi zmdi-chevron-left"></i></a></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'title.contact' | trans }}</h1>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="container-fluid row settings">
        <h1 align="center">{{ 'title.contact' | trans }}</h1>
        <p align="center">{{ 'contact.text' | trans | raw }}</p>
    </div>
{% endblock body %}