{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'discover' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'discover' | trans }}</h1>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="container-fluid nopadding padding-footer">
        {{ render(controller('AppBundle:Search:form')) }}
        <div id="photographies" class="search-navbar search-navbar-active"><div class="search-navbar-content">{{ 'search.photos' | trans }}</div></div>
        <div id="users" class="search-navbar"><div class="search-navbar-content">{{ 'search.users' | trans }}</div></div>
        <div id="photographies-content" class="white-flow masonry-layout two-column navbar-content">
            <div id="photograpies-flow" class="clearfix">
            {% include 'AppBundle:Mobile:flowPhoto.html.twig' %}
            </div>
            <div class="loading"></div>
        </div>
        <div id="users-content" class="navbar-content">
            <div id="users-flow" class="clearfix">
            {% include 'AppBundle:Mobile:flowUser.html.twig' %}
            </div>
            <div class="loading"></div>
        </div>
    </div>
{% endblock body %}
{% block javascript %}
    <script>
        var userId = {% if app.user is not null %}{{ app.user.getId }}{% else %}null{% endif %},
            followerId = {% if app.user is not null %}{{ app.user.getId }}{% else %}null{% endif %},
            subscribeUrl = '{{ path('subscribe') }}',
            unsubscribeUrl = '{{ path('unsubscribe') }}',
            offsetUrl = '{{ path('discover_offset') }}',
            likeUrl = '{{ path('like') }}',
            unlikeUrl = '{{ path('unlike') }}';
    </script>
    <script src="{{ asset('js/mobile/discover.js') }}"></script>
    <script src="{{ asset('js/mobile/subscribe.js') }}"></script>
    <script src="{{ asset('js/mobile/like.js') }}"></script>
{% endblock %}