{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'title.edit.user' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'title.edit.user' | trans }}</h1>
        </div>
        <div class="col-xs-3 profile-header-settings"><a href="{{ path('settings') }}"><i class="zmdi zmdi-settings"></i></a></div>
    </div>
    <div class="body-content">
        {{ form_start(form, {'action': path('fos_user_profile_edit'), 'method': 'POST', 'class': 'form-horizontal fos_user_profile_edit'}) }}
        <div class="profile-wall-avatar">
            <div class="profile-wall">
                <div class="profile-wall-input">{{ form_widget(form.wallImage, { 'attr': {'id' : 'inputWallImage', 'name' : 'inputWallImage', 'class' : 'invisible', 'accept' : 'image/*'} }) }}</div>
                <img id="wallImg" src="{% if app.user.wallImage %}{{ app.user.getWallImageUrl }}{% else %}{{ asset('images/nowall.jpg') }}{% endif %}" />
                <div class="edit-wallImage-title" onclick="$('#fos_user_profile_form_wallImage').click();">{{ 'account.change.wall.image' | trans }}</div>
            </div>
            <div class="profile-avatar-edit">
                <div class="avatar-input">{{ form_widget(form.avatar, { 'attr': {'id' : 'inputAvatar', 'name' : 'inputAvatar', 'class' : 'form-control invisible', 'accept' : 'image/*'} }) }}</div>
                <img id="avatarImg" src="{% if app.user.avatar %}{{ app.user.getAvatarImageUrl }}{% else %}{% if app.user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" />
                <div class="edit-avatar-title" onclick="$('#fos_user_profile_form_avatar').click();"><span class="glyphicon glyphicon-camera"></span></div>
            </div>
        </div>
        <div class="edit-user-body clearfix">
            <div class="col-xs-12">
                <div class="edit-row clearfix">
                    <div class="col-xs-6 padding-input-left">
                        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control edit-user-inline edit-user-country', 'id' : 'inputLocationCountry', 'placeholder' : 'account.first.name' | trans } }) }}
                        <div class="form_error_field">{{ form_errors(form.firstName) }}</div>
                    </div>
                    <div class="col-xs-6 padding-input-right">
                        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control edit-user-inline', 'id' : 'inputLocationCity', 'placeholder' : 'account.last.name' | trans } }) }}
                        <div class="form_error_field">{{ form_errors(form.lastName) }}</div>
                    </div>
                </div>
                <div class="edit-row clearfix">
                    <div class="col-xs-6 padding-input-left">
                        {{ form_widget(form.locationCountry, { 'attr': {'class': 'form-control edit-user-inline edit-user-country', 'id' : 'inputLocationCountry', 'placeholder' : 'account.country' | trans } }) }}
                        <div class="form_error_field">{{ form_errors(form.locationCountry) }}</div>
                    </div>
                    <div class="col-xs-6 padding-input-right">
                        {{ form_widget(form.locationCity, { 'attr': {'class': 'form-control edit-user-inline', 'id' : 'inputLocationCity', 'placeholder' : 'account.city' | trans } }) }}
                        <div class="form_error_field">{{ form_errors(form.locationCity) }}</div>
                    </div>
                </div>
                <div class="edit-row clearfix">
                    <div class="col-xs-6 padding-input-left">
                        {{ form_widget(form.phone, { 'attr': {'class': 'form-control edit-user-inline edit-user-country', 'id' : 'inputLocationCountry', 'placeholder' : 'account.phone' | trans } }) }}
                        <div class="form_error_field">{{ form_errors(form.phone) }}</div>
                    </div>
                    <div class="col-xs-6 padding-input-right">
                        {{ form_widget(form.gender, { 'attr': {'class': 'form-control edit-user-inline', 'id' : 'inputLocationCity', 'placeholder' : 'account.gender' | trans } }) }}
                        <div class="form_error_field">{{ form_errors(form.gender) }}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
                <div class="edit-row">
                    {{ form_widget(form.about, { 'attr': {'class': 'form-control edit-user-textarea', 'id' : 'inputAbout', 'placeholder' : 'О вас'} }) }}
                </div>
                <div class="edit-row">
                    <input class="btn btn-primary" type="submit" value="{{ 'save' | trans }}" />
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
{% endblock body %}
{% block javascript %}
<script src="{{ asset('js/mobile/editUser.js') }}"></script>
{% endblock %}