{% for user in users %}
    <div class="flowUser clearfix">
        <div class="flowUser-avatar"><a href="{{ path('profile', { username : user.getUsername }) }}"><img src="{% if user.avatar %}{{ user.getAvatarImageUrl }}{% else %}{% if user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
        <div class="flowUser-info">
            <h1><a href="{{ path('profile', { username : user.getUsername }) }}">{{ user.getUsername }}</a></h1>
            <div class="flowUser-photos-count"><i class="zmdi zmdi-image"></i> {{ user.getPhotos | length }}</div>
            <div class="flowUser-followers-count"><i class="zmdi zmdi-account-add"></i> {{ user.getFollowers | length }}</div>
        </div>
        <div class="flowUser-subscribe">
            {% if user.isFollowed %}
                <div id="{{ user.getId }}" class="flowUser-btn-unsubscribe btn-unsubscribe hvr-pop"><i class="zmdi zmdi-account-add"></i></div>
            {% else %}
                <div id="{{ user.getId }}" class="flowUser-btn-subscribe btn-subscribe hvr-pop"><i class="zmdi zmdi-account-add"></i></div>
            {% endif %}
        </div>
    </div>
{% endfor %}