{% extends 'AppBundle:Mobile:flowBase.html.twig' %}
{% block page_title %}{{ 'title.flow' | trans }}{% endblock %}
{% block ajaxUrl %}{{ path('flow') }}{% endblock %}
{% block categories %}
    <ul class="categories-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'flow.flow' | trans }}<span class="caret"></span></a>
            <ul id="header-dropdown-menu" class="dropdown-menu" role="menu">
            <li><a href="{{ path('photography') }}">{{ 'photography' | trans }}</a></li>
            <li><a href="{{ path('painting') }}">{{ 'painting' | trans }}</a></li>
            <li><a href="{{ path('3d') }}">{{ '3d' | trans }}</a></li>
        </ul>
        </li>
    </ul>
{% endblock %}
{% block alertBlock %}
    <div class="jumbotron jumbotron-welcome">
        <img src="{{ asset('images/flow.png') }}">
        <div class="jumbotron-content">
            <h1>{{ 'flow.flow.title' | trans }}</h1>
            <p>{{ 'flow.flow.description' | trans }}</p>
        </div>
    </div>
    {% if emptyFlow %}
        <div class="alert-block">
            <div class="alert alert-dismissible alert-warning emptyFlowWarning">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <h4>{{ 'flow.alert.title' | trans | raw }}</h4>
                <p>{{ 'flow.alert.desc' | trans | raw }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}