{% for photo in photos %}
    <div class="masonry-layout__panel">
        <div class="masonry-layout__panel-content">
            {% if photo.getModerationDate is null %}
                <div class="photo-pending"><div class="photo-pending-text">Фотография проходит модерацию. <div class="pending-icon float-right"><span class="glyphicon glyphicon-time"></span></div></div></div>
            {% endif %}
            <a href="{{ path('photo', { id: photo.getId }) }}"><img id="{{ photo.getId }}" src="{{ photo.getImage }}"></a>
            <div class="grey-info">
                <div class="description clearfix">
                    <h1>{{ photo.getTitle }}</h1>
                    {% if photo.getLikedByUser %}
                        <div class="likes" id="{{ photo.getId }}"><i class="zmdi zmdi-favorite unlike hvr-pop"></i><span class="likes-count">{{ photo.getLikes | length }}</span></div>
                    {% else %}
                        <div class="likes" id="{{ photo.getId }}"><i class="zmdi zmdi-favorite like hvr-pop"></i><span class="likes-count">{{ photo.getLikes | length }}</span></div>
                    {% endif %}
                    <div class="comments"><a href="{{ path('photo_comments', { id : photo.getId }) }}" class="comments"><i class="zmdi zmdi-comment-text"></i><span class="likes-count">{{ photo.getComments | length }}</span></a></div>
                    <div class="clear"></div>
                    <div class="author clearfix">
                        <div class="avatar"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}"><img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
                        <div class="username"><a class="left" href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ photo.getUser.getUsername }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}