{% extends 'AppBundle:Mobile:base.html.twig' %}
{% block page_title %}{% endblock %}
{% block meta_tags %}{% endblock %}
{% block body %}
    <div class="navbar navbar-blue" role="navigation">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 center">
            {% block categories %}{% endblock %}
        </div>
        <div class="col-xs-3 header-settings">
            <a href="{{ path('settings') }}"><i class="zmdi zmdi-settings"></i></a>
        </div>
    </div>
    <div class="body-content">
        <div class="container-fluid flow-navbar">
            <div class="container">
                
            </div>
        </div>
        {% block alertBlock %}{% endblock %}
        <div class="sub-categories">
            {% block subCategoryNav %}{% endblock %}
        </div>
        {% if photos %}
        <div id="photos" class="white-flow masonry-layout one-column">
            {% include 'AppBundle:Mobile:flowPhoto.html.twig' %}
        </div>
        <div class="loading"></div>
        {% else %}
            {% block emptyFlow %}{% endblock %}
        {% endif %} 
    </div>
{% endblock %}
{% block javascript %}
<script>
    var 
        userId = {% if app.user is not null %}{{ app.user.getId }}{% else %}null{% endif %},
        likeUrl = '{{ path('like') }}',
        unlikeUrl = '{{ path('unlike') }}',
        offset = 0;

    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            offset += 15;
            $('.loading').fadeIn();
            $.ajax({
                type: 'POST',
                url: '{% block ajaxUrl %}{% endblock %}',
                data: 'offset=' + offset,
                success: function(response){
                    $('#photos').append(response);
                    $('.loading').fadeOut();
                }
            });
        }
     });
</script>
<script src="{{ asset('js/mobile/like.js') }}"></script>
{% endblock %}