{% for follower in followers %}
        <div id="{{ follower.follower.getId }}" class="row nopadding-sides top-bottom-padding2">
            <div class="col-md-2 popup-avatar"><a href="{{ path('profile', {'username' : follower.follower.getUsername }) }}"><img alt="{{ follower.follower.getUsername }}" src="{% if follower.follower.avatar %}{{ follower.follower.getAvatarImageUrl }}{% else %}{% if follower.follower.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
            <div class="col-md-7 followers-link"><a href="{{ path('profile', {'username' : follower.follower.getUsername }) }}">{{ follower.follower.getUsername }}</a></div>
            {% if follower.follower.getId != app.user.getId %}
                <div class="col-md-3 nopadding">
                     {% if follower.follower.isFollowed %}
                    <button class="btn btn-success modal-follower-btn modal-btn-unsubscribe">{{ 'account.following' | trans }}</button>
                    {% else %}
                    <button class="btn btn-primary modal-follower-btn modal-btn-subscribe">{{ 'account.follow' | trans }}</a>
                    {% endif %}
                </div> 
            {% endif %}
        </div>
{% endfor %}