{% for follower in followers %}
<div id="{{ follower.user.getId }}" class="row nopadding-sides top-bottom-padding2">
    <div class="col-md-2 popup-avatar"><a href="{{ path('profile', {'username' : follower.user.getUsername }) }}"><img alt="{{ follower.user.getUsername }}" src=".{% if follower.user.avatar %}{{ follower.user.getAvatarImageUrl }}{% else %}{% if follower.user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
    <div class="col-md-7 followers-link"><a href="{{ path('profile', {'username' : follower.user.getUsername }) }}">{{ follower.user.getUsername }}</a></div>
    {% if follower.user.getId != app.user.getId %}
    <div class="col-md-3 nopadding">
        {% if follower.user.isFollowed %}
        <button class="btn btn-success modal-follower-btn modal-btn-unsubscribe">{{ 'account.following' | trans }}</button>
        {% else %}
        <button class="btn btn-primary modal-follower-btn modal-btn-subscribe">{{ 'account.follow' | trans }}</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endfor %}
