<div class="footer-nav">
    <a href="{{ path('index') }}"><i class="zmdi zmdi-home {% block indexActive %}{% endblock %}"></i></a>
    <a href="{{ path('discover') }}"><i class="zmdi zmdi-search {% block searchActive %}{% endblock %}"></i></a>
    <a href="{{ path('upload_photo') }}"><i class="zmdi zmdi-camera {% block uploadActive %}{% endblock %}"></i></a>
    <a class="activity-link" href="{{ path('activity') }}">
        {% if checkActivity() %}<div class="new-activity">{{ checkActivity() }}</div>{% endif %}
        <i class="zmdi zmdi-favorite-outline {% block activityActive %}{% endblock %}"></i>
    </a>
    <a href="{{ path('profile', { 'username' : app.user.getUsername }) }} {% block profileActive %}{% endblock %}"><i class="zmdi zmdi-account-o"></i></a>
</div>