<form method="POST" action="{{ path('search') }}" role="search" class="search-form">
    <i class="zmdi zmdi-search"></i>
    {{ form_widget(form.phrase, { 'attr': {'class': 'form-control ',  'placeholder' : 'whats.on.your.mind', 'autocomplete' : 'off'} }) }}
    <i class="zmdi zmdi-close" ></i>
    {{ form_widget(form._token) }}
</form>