<div class="navbar navbar-blue" role="navigation">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 center">
        {% block categories %}{% endblock %}
    </div>
    <div class="col-xs-3 header-settings">
        <a href="{{ path('settings') }}"><i class="zmdi zmdi-settings"></i></a>
    </div>
</div>