{% extends 'AppBundle:Mobile:base.html.twig' %}
{% block page_title %}{{ 'title.index' | trans }}{% endblock %}
{% block body %}
    <section id="welcome" class="container-fluid center indexWrapper">
        <div class="col-xs-12">
            <div class="emotionfolio-logo">EmotionFolio</div>
        </div>
        <div class="col-xs-12 welcome-bottom">
            <div class="welcome-heading">{{ 'mobile.welcome' | trans }}</div>
            <div class="welcome-slogan">{{ 'mobile.slogan' | trans }}</div>
            <a class="btn btn-sm btn-primary btn-full btn-margin" href="{{ path('fos_user_security_login') }}" role="button">{{ 'get.start' | trans }}</a>
        </div>
    </section>
    <section id="popular" class="container-fluid nopadding">
        <div class="col-xs-12">
            <div class="popular-tabs-nav">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#photography" class="tab-photoghraphy" aria-controls="home" role="tab" data-toggle="tab">{{ 'photography' | trans }}</a></li>
                    <li role="presentation"><a href="#painting" class="tab-painting" aria-controls="profile" role="tab" data-toggle="tab">{{ 'painting' | trans }}</a></li>
                    <li role="presentation"><a href="#threeDemensional" class="tab-threeDemensional" aria-controls="settings" role="tab" data-toggle="tab">{{ '3d' | trans }}</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content clear">
            <div role="tabpanel" class="tab-pane active" id="photography">
                <div class="container-fluid nopadding">
                    <div class="tab-image"><img src="{{ asset('images/flow.png') }}"></div>
                    <div class="index-flow masonry-layout two-column">
                        {% for photo in photographies %}
                            <div class="masonry-layout__panel">
                                <div class="masonry-layout__panel-content">
                                    <a href="{{ path('photo', { id: photo.getId }) }}"><img id="{{ photo.getId }}" src="{{ photo.getImage }}"></a>
                                    <div class="info">
                                        <div class="description clearfix">
                                            <h1>{{ photo.getTitle }}</h1>
                                            <div class="likes"><i class="zmdi zmdi-favorite blue"></i><span class="likes-count">{{ photo.getLikes | length }}</span></div>
                                            <div class="comments"><i class="zmdi zmdi-comment-text"></i><span class="likes-count">{{ photo.getComments | length }}</span></div>
                                            <div class="clear"></div>
                                            <div class="author clearfix">
                                                <div class="avatar"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}"><img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
                                                <div class="username"><a class="left" href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ photo.getUser.getUsername }}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="painting">
                <div class="container-fluid row">
                    <div class="tab-image"><img src="{{ asset('images/painting.png') }}"></div>
                    <div class="index-flow masonry-layout two-column">
                        {% for photo in paintings %}
                            <div class="masonry-layout__panel">
                                <div class="masonry-layout__panel-content">
                                    <a href="{{ path('photo', { id: photo.getId }) }}"><img id="{{ photo.getId }}" src="{{ photo.getImage }}"></a>
                                    <div class="info">
                                        <div class="description clearfix">
                                            <h1>{{ photo.getTitle }}</h1>
                                            <div class="likes"><i class="zmdi zmdi-favorite blue"></i><span class="likes-count">{{ photo.getLikes | length }}</span></div>
                                            <div class="comments"><i class="zmdi zmdi-comment-text"></i><span class="likes-count">{{ photo.getComments | length }}</span></div>
                                            <div class="clear"></div>
                                            <div class="author clearfix">
                                                <div class="avatar"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}"><img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
                                                <div class="username"><a class="left" href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ photo.getUser.getUsername }}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="threeDemensional">
                <div class="container-fluid row">
                    <div class="tab-image"><img src="{{ asset('images/3d.png') }}"></div>
                    <div class="index-flow masonry-layout two-column">
                        {% for photo in threeDemensionals %}
                            <div class="masonry-layout__panel">
                                <div class="masonry-layout__panel-content">
                                    <a href="{{ path('photo', { id: photo.getId }) }}"><img id="{{ photo.getId }}" src="{{ photo.getImage }}"></a>
                                    <div class="info">
                                        <div class="description clearfix">
                                            <h1>{{ photo.getTitle }}</h1>
                                            <div class="likes"><i class="zmdi zmdi-favorite blue"></i><span class="likes-count">{{ photo.getLikes | length }}</span></div>
                                            <div class="comments"><i class="zmdi zmdi-comment-text"></i><span class="likes-count">{{ photo.getComments | length }}</span></div>
                                            <div class="clear"></div>
                                            <div class="author clearfix">
                                                <div class="avatar"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}"><img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
                                                <div class="username"><a class="left" href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ photo.getUser.getUsername }}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}