{% extends 'AppBundle:Mobile:flowBase.html.twig' %}
{% block page_title %}{{ 'title.painting' | trans }}{% endblock %}
{% block ajaxUrl %}{{ path('painting') }}{% endblock %}
{% block alertBlock %}
<div class="jumbotron jumbotron-welcome">
    <img src="{{ asset('images/painting.png') }}">
    <div class="jumbotron-content">
        <h1>{% if category is not null %}{{ category.getName | trans }}{% else %}{{ 'title.painting' | trans }}{% endif %}</h1>
    <p>{{ 'flow.painting.description' | trans }}</p>
    </div>
</div>
{% endblock %}
{% block categories %}
    <ul class="categories-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% if category is not null %}{{ category.getName | trans }}{% else %}{{ 'title.painting' | trans }}{% endif %}<span class="caret"></span></a>
            <ul id="header-dropdown-menu" class="dropdown-menu" role="menu">
                <li><a href="{{ path('painting_subcategory', { 'subCategory': 'landscapes' }) }}">{{ 'landscapes' | trans }}</a></li>
                <li><a href="{{ path('painting_subcategory', { 'subCategory': 'seascapes' }) }}">{{ 'seascapes' | trans }}</a></li>
                <li><a href="{{ path('painting_subcategory', { 'subCategory': 'portrait' }) }}">{{ 'portrait' | trans }}</a></li>
                <li><a href="{{ path('painting_subcategory', { 'subCategory': 'stilllife' }) }}">{{ 'stilllife' | trans }}</a></li>
                <li><a href="{{ path('painting_subcategory', { 'subCategory': 'architecture' }) }}">{{ 'architecture' | trans }}</a></li>
                <li><a href="{{ path('painting_subcategory', { 'subCategory': 'fantasy' }) }}">{{ 'fantasy' | trans }}</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
{% block emptyFlow %}
    <div class="empty-flow">
        <span class="glyphicon glyphicon-picture"></span>
        <h3>{{ 'flow.empty.category' | trans | raw }}</h3>
    </div>
{% endblock %}