{% extends 'AppBundle:Mobile:flowBase.html.twig' %}
{% block page_title %}{{ 'title.photography' | trans }}{% endblock %}
{% block ajaxUrl %}{{ path('photography') }}{% endblock %}
{% block alertBlock %}
<div class="jumbotron jumbotron-welcome">
    <img src="{{ asset('images/photography.png') }}">
    <div class="jumbotron-content">
        <h1>{% if category is not null %}{{ category.getName | trans }}{% else %}{{ 'title.photography' | trans }}{% endif %}</h1>
        <p>{{ 'flow.photography.description' | trans }}</p>
    </div>
</div>
{% endblock %}
{% block categories %}
    <ul class="categories-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% if category is not null %}{{ category.getName | trans }}{% else %}{{ 'title.photography' | trans }}{% endif %}<span class="caret"></span></a>
            <ul id="header-dropdown-menu" class="dropdown-menu" role="menu">
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'abstract' }) }}">{{ 'abstract' | trans }}</a></li>
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'animals' }) }}">{{ 'animals' | trans }}</a></li>
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'blackandwhite' }) }}">{{ 'blackandwhite' | trans }}</a></li>
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'architecture' }) }}">{{ 'architecture' | trans }}</a></li>
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'fashion' }) }}">{{ 'fashion' | trans }}</a></li>
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'food' }) }}">{{ 'food' | trans }}</a></li>
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'landscapes' }) }}">{{ 'landscapes' | trans }}</a></li>
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'macro' }) }}">{{ 'macro' | trans }}</a></li>
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'people' }) }}">{{ 'people' | trans }}</a></li>
                <li><a href="{{ path('photography_subcategory', { 'subCategory': 'sport' }) }}">{{ 'sport' | trans }}</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
{% block emptyFlow %}
    <div class="empty-flow">
        <span class="glyphicon glyphicon-picture"></span>
        <h3>{{ 'flow.empty.category' | trans | raw }}</h3>
    </div>
{% endblock %}