{% extends 'AppBundle:Mobile:base.html.twig' %}
{% block page_title %}{{ photo.getTitle }}{% endblock %}
{% block meta_tags %}
<meta property="og:type" content="article" />
<meta property="og:title"  content="{{ photo.getTitle }}" />
<meta property="og:description" content="{{ photo.getDescription }} by {{ photo.getUser.getUsername }}" />
<meta property="og:image" content="{{ photo.getImage }}" />
{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-1"><a class="chevron" href="{{ referer }}"><i class="zmdi zmdi-chevron-left"></i></a></div>
        <div class="col-xs-10">
            <h1 class="heading" align="center">{{ photo.getTitle }}</h1>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div id="{{ photo.getId }}">
        <div class="photo-wrapper">
            <img src="{{ photo.getImage }}" alt="{{ photo.getDescription }} by {{ photo.getUser.getUsername }}" />
        </div>
        <div class="info padding-footer">
            <div class="description clearfix">
                <h1>{{ photo.getTitle }}</h1>
                {% if photo.getLikedByUser %}
                    <div class="likes profileLikes" id="{{ photo.getId }}"><i class="zmdi zmdi-favorite zmdi-hc-2x hvr-pop unlike"></i><span class="likes-count">{{ photo.getLikes | length }}</span></div>
                {% else %}
                    <div class="likes profileLikes" id="{{ photo.getId }}"><i class="zmdi zmdi-favorite zmdi-hc-2x hvr-pop like"></i><span class="likes-count">{{ photo.getLikes | length }}</span></div>
                {% endif %}
                <a href="{{ path('photo_comments', { id : photo.getId }) }}" class="comments profileComments"><i class="zmdi zmdi-comment-text zmdi-hc-2x"></i><span class="likes-count">{{ photo.getComments | length }}</span></a>
                <div class="share"><i class="zmdi zmdi-share"></i> {{ 'photo.share' | trans }}</div>
                <div class="clear"></div>
                <div class="author clearfix">
                    <div class="avatar"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}"><img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
                    <div class="username"><a class="left" href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ photo.getUser.getUsername }}</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
    var 
        userId = {% if app.user is not null %}{{ app.user.getId }}{% else %}null{% endif %},
        likeUrl = '{{ path('like') }}',
        unlikeUrl = '{{ path('unlike') }}';
</script>
<script src="{{ asset('js/mobile/like.js') }}"></script>
{% endblock %}