{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ user.getUsername }}{% endblock %}
{% block body %}
    {% if app.user is not null and app.user.id == user.id %}
        <div class="page-heading clearfix">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <h1 class="heading" align="center">{{ 'account.my.profile' | trans }}</h1>
            </div>
            <div class="col-xs-3 profile-header-settings"><a href="{{ path('settings') }}"><i class="zmdi zmdi-settings"></i></a></div>
        </div>
    {% endif %}
    <div class="body-content">
        <div class="profile-wall-avatar">
            <div class="profile-wall">
                <img src="{% if user.wallImage %}{{ user.getWallImageUrl }}{% else %}{{ asset('images/nowall.jpg') }}{% endif %}" />
            </div>
            <div class="{% if app.user is not null and app.user.getId == user.getId %}profile-author{% else %}profile-author-without-header{% endif %} clearfix">
                <div class="profile-avatar"><img src="{% if user.avatar %}{{ user.getAvatarImageUrl }}{% else %}{% if user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></div>
                <div class="profile-info">
                    <div class="author-name"><h1>{{ user.getUserName }}</h1></div>
                    <div class="author-desc">{{ user.getAbout }}</div>
                    <div class="author-statistics clearfix">
                        <div class="photos-count"><i class="zmdi zmdi-image"></i> {{ user.getPhotos | length }}</div>
                        <div class="followers-count"><i class="zmdi zmdi-account-add"></i> {{ user.getFollowers | length }}</div>
                        {% if user.getLocationCountry is not null or user.getLocationCity is not null %}
                            <div class="location">
                                <i class="zmdi zmdi-pin"></i>
                                {% if (user.getLocationCountry) and (user.getLocationCity is null) %}
                                    {{ user.getLocationCountry }}
                                {% elseif (user.getLocationCountry is null) and (user.getLocationCity) %}
                                    {{ user.getLocationCity }}
                                {% elseif (user.getLocationCountry) and (user.getLocationCity) %}
                                    {{ user.getLocationCountry }}, {{ user.getLocationCity }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="author-subscribe">
            {% if app.user is not null and app.user.id != user.id %}
                {% if user.isFollowed %}
                    <button class="btn btn-success btn-unsubscribe hvr-pop">{{ 'account.following' | trans }}</button>
                {% else %}
                    <button class="btn btn-primary btn-subscribe hvr-pop">{{ 'account.follow' | trans }}</button>
                {% endif %}
            {% endif %}
            </div>
        </div>
        {% if photos %}
        <div id="photos" class="white-flow masonry-layout one-column">
            {% include 'AppBundle:Mobile:flowPhoto.html.twig' %}
        </div>
        <div class="loading"></div>
        {% else %}
        <div class="empty-flow">
            <span class="glyphicon glyphicon-picture"></span>
            {% if app.user is not null and app.user.getId == user.getId %}
                <h3>{{ 'account.empty.flow' | trans }}</h3>
                <a href="{{ path('upload_photo') }}" class="btn btn-primary btn-profile-upload">{{ 'account.upload' | trans }}</a>
            {% else %}
                <h3>{{ user.getUsername }} {{ 'account.other.empty.flow' | trans }}</h3>
            {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock body %}
{% block javascript %}
<script>
    var offset = 0,
        modalType = null,
        url = null,
        userId = {% if app.user is not null %}{{ app.user.getId }}{% else %}null{% endif %},
        followerId = {% if app.user is not null %}{{ app.user.getId }}{% else %}null{% endif %},
        likeUrl = '{{ path('like') }}',
        unlikeUrl = '{{ path('unlike') }}',
        subscribeUrl = '{{ path('subscribe') }}',
        unsubscribeUrl = '{{ path('unsubscribe') }}',
        followingContent = '{{ 'account.following' | trans }}',
        followContent = '{{ 'account.follow' | trans }}';

    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            offset += 15;
            $('.loading').fadeIn();
            $.ajax({
                type: 'POST',
                url: '{{ path('profile', { 'username' : user.getUsername }) }}',
                data: 'offset=' + offset,
                success: function(response){
                    $('#photos').append(response);
                    $('.loading').fadeOut();
                }
            });
        }
    });
</script>
<script src="{{ asset('js/mobile/subscribe.js') }}"></script>
<script src="{{ asset('js/mobile/profile.js?v=1.3') }}"></script>
<script src="{{ asset('js/mobile/like.js') }}"></script>
{% endblock %}