{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'account.register' | trans }}{% endblock %}
{% block body %}
<div class="body-content">
    <div class="container top-bottom-padding3">
        {% if (form_errors(form.username)) %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ form_errors(form.username) }}
        </div>
        {% endif %}
        {% if (form_errors(form.plainPassword)) %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ form_errors(form.plainPassword) }}
        </div>
        {% endif %}
        {% if (form_errors(form.email)) %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ form_errors(form.email) }}
        </div>
        {% endif %}
        <legend><h1>{{ 'account.register' | trans }}</h1></legend>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_registration_register">
            <fieldset>
                <div class="form-group {% if form_errors(form.username) %}has-error {% endif %}">
                  <label for="inputPassword" class="col-lg-2 control-label">{{ 'account.username' | trans }}</label>
                  <div class="col-lg-10">
                      {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'id' : 'inputLogin', 'placeholder' : 'account.username' | trans } }) }}
                  </div>
                </div>
                <div class="form-group {% if form_errors(form.plainPassword) %}has-error {% endif %}">
                  <label for="inputPassword" class="col-lg-2 control-label">{{ 'account.password' | trans }}</label>
                  <div class="col-lg-10">
                      {{ form_widget(form.plainPassword, { 'attr': {'class': 'form-control', 'id' : 'inputPassword', 'placeholder' : 'account.password' | trans } }) }}
                  </div>
                </div>
                <div class="form-group {% if form_errors(form.email) %}has-error{% endif %}">
                  <label for="inputEmail" class="col-lg-2 control-label">{{ 'account.email' | trans }}</label>
                  <div class="col-lg-10">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'id' : 'inputEmail', 'placeholder' : 'account.email' | trans } }) }}
                  </div>
                </div>
                {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
                 <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <input class="btn btn-default" type="submit" value="{{ 'account.register' | trans }}" />
                  </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock body %}
