{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'title.settings' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"><a class="chevron" href="{{ referer }}"><i class="zmdi zmdi-chevron-left"></i></a></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'title.settings' | trans }}</h1>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="container-fluid nopadding settings">
        <div class="setting-block">
            <div class="setting-title"><h1>{{ 'account.account' | trans }}</h1></div>
            <div class="settings-list">
                <div class="settings-single"><a href="{{ path('fos_user_profile_edit') }}">{{ 'account.edit.profile' | trans }}</a></div>
                <div class="settings-single"><a href="{{ path('fos_user_change_password') }}">{{ 'account.change.password' | trans }}</a></div>
                <div class="settings-single"><a href="{{ path('fos_user_security_logout') }}">{{ 'account.log.out' | trans }}</a></div>
            </div>
        </div>
        <div class="setting-block">
            <div class="setting-title"><h1>{{ 'title.settings' | trans }}</h1></div>
            <div class="settings-list">
                <div class="settings-single"><a href="#">{{ 'language' | trans }}</a></div>
            </div>
        </div>
        <div class="setting-block">
            <div class="setting-title"><h1>{{ 'support' | trans }}</h1></div>
            <div class="settings-list">
                <div class="settings-single"><a href="#">{{ 'report.an.issue' | trans }}</a></div>
            </div>
        </div>
        <div class="setting-block">
            <div class="setting-title"><h1>{{ 'information' | trans }}</h1></div>
            <div class="settings-list">
                <div class="settings-single"><a href="{{ path('page', { slug : 'terms' }) }}">{{ 'title.terms' | trans }}</a></div>
            </div>
        </div>
    </div>
{% endblock body %}