{% extends 'AppBundle:Mobile:base.html.twig' %}
{% block page_title %}{{ 'photo.upload' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'photo.upload' | trans }}</h1>
        </div>
        <div class="col-xs-3"></div>
    </div>
    {{ form_start(form, {'action': path('upload_photo'), 'method': 'POST', 'class': 'form-horizontal'}) }}
        <div class="upload-wrapper">
            <div class="upload-btn">
                <i class="zmdi zmdi-camera"></i>
            </div>
            <p align="center" class="upload-desc">{{ 'account.upload' | trans }}</p>
            <div class="upload-input">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control upload-input', 'accept' : 'image/x-png, image/gif, image/jpeg'} }) }}
            </div> 
        </div>
        <div class="photo-wrapper padding-footer">
            <img id="uploaded-image" />
            <div class="photo-info">
                <div class="input-row">{{ form_widget(form.title, { 'attr': {'class': 'form-control', 'id' : 'inputTitle', 'placeholder' : 'photo.title.placeholder' | trans } }) }}</div>
                <div class="input-row">{{ form_widget(form.category, { 'attr': {'class': 'form-control', 'id' : 'inputCategory' } }) }}</div>
                <div class="input-row">{{ form_widget(form.description, { 'attr': {'class': 'form-control', 'id' : 'inputDescription' } }) }}</div>
                <div class="input-row"><input type="submit" class="btn btn-primary btn-full" value="{{ 'photo.publish' | trans }}" /></div>
            </div>
        </div>
        {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/mobile/upload.js') }}"></script>
{% endblock %}