{% extends "AppBundle:Main:base.html.twig" %}
{% block page_title %}{{ 'errors.title' | trans }}{% endblock %}
{% block body %}
<div class="body-content">
    <div class="container top-bottom-padding3 terms">
        <h1 align="center">{{ 'errors.title' | trans }}</h1>
        <p align="center">{{ 'errors.text' | trans }}</p>
    </div>
</div>
{% endblock body %}