{% extends 'AppBundle:Main:base.html.twig' %}
{% block page_title %}{{ 'account.change.password' | trans }}{% endblock %}
{% block body %}
<div class="body-security">
    <div class="security-wrapper">
        <h1>{{ 'account.change.password' | trans }}</h1>
        {% if (form_errors(form.current_password)) %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ form_errors(form.current_password) }}
        </div>
        {% endif %}
        {% if (form_errors(form.plainPassword.first)) %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ form_errors(form.plainPassword.first) }}
        </div>
        {% endif %}
        {% if (form_errors(form.plainPassword.second)) %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            {{ form_errors(form.plainPassword.second) }}
        </div>
        {% endif %}
        {{ form_start(form, {'action': path('fos_user_change_password'), 'method': 'POST', 'class': 'form-horizontal fos_user_change_password'}) }}
            <fieldset>
                <div class="form-group clearfix {% if form_errors(form.current_password) %}has-error {% endif %}">
                      <label for="inputPassword" class="col-lg-12">{{ 'account.current.password' | trans }}</label>
                      <div class="col-lg-12">
                              {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'id' : 'inputPassword', 'placeholder' : 'account.current.password' | trans} }) }}
                      </div>
                </div>
                <div class="form-group clearfix {% if form_errors(form.plainPassword.first) %}has-error {% endif %}">
                      <label for="inputPassword" class="col-lg-12">{{ 'account.new.password' | trans }}</label>
                      <div class="col-lg-12">
                              {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'id' : 'inputPlainPasswordFirst', 'placeholder' : 'account.new.password' | trans} }) }}
                      </div>
                </div>
                <div class="form-group clearfix {% if form_errors(form.plainPassword.second) %}has-error {% endif %}">
                      <label for="inputPassword" class="col-lg-12">{{ 'account.repeat.new.password' | trans }}</label>
                      <div class="col-lg-12">
                              {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'id' : 'inputPlainPasswordSecond', 'placeholder' : 'account.repeat.new.password' | trans} }) }}
                      </div>
                </div>
                      {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
                <div class="form-group clearfix">
                      <div class="col-lg-12">
                        <input class="btn btn-primary btn-blue btn-full" type="submit" value="{{ 'change' | trans }}" />
                      </div>
                </div>
            </fieldset>
        {{ form_end(form) }}
    </div>
</div>
{% endblock body %}
