{% extends 'AppBundle:Main:flowBase.html.twig' %}
{% block page_title %}{{ 'title.3d' | trans }}{% endblock %}
{% block ajaxUrl %}{{ path('3d') }}{% endblock %}
{% block alertBlock %}
<div class="jumbotron jumbotron-welcome jumbotron-welcome-3d">
    <h1>{{ 'flow.3d.title' | trans }}</h1>
    <p>{{ 'flow.3d.description' | trans }}</p>
</div>
{% endblock %}
{% block categoriesNav %}
<ul class="categories-nav categories-nav-flow">
    <li><a href="{{ path('flow') }}">{{ 'flow.flow' | trans }}</a></li>
    <li><a href="{{ path('photography') }}">{{ 'photography' | trans }}</a></li>
    <li><a href="{{ path('painting') }}">{{ 'painting' | trans }}</a></li>
    <li class="active"><a href="{{ path('3d') }}">{{ '3d' | trans }}</a></li>
</ul>
{% endblock %}
{% block subCategoryNav %}
<a href="{{ path('3d_subcategory', { 'subCategory': 'interiors' }) }}" class="btn btn-warning btn-subcategory">{{ 'interiors' | trans }}</a>
<a href="{{ path('3d_subcategory', { 'subCategory': 'exteriors' }) }}" class="btn btn-success btn-subcategory">{{ 'exteriors' | trans }}</a>
<a href="{{ path('3d_subcategory', { 'subCategory': 'creative' }) }}" class="btn btn-danger btn-subcategory">{{ 'creative' | trans }}</a>
{% endblock %}
{% block emptyFlow %}
    <div class="empty-flow">
        <span class="glyphicon glyphicon-picture"></span>
        <h3>{{ 'flow.empty.category' | trans | raw }}</h3>
    </div>
{% endblock %}