<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{% block page_title %}{% endblock %} — EmotionFolio{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main/main.css?v=1.3') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main/flow.css') }}" />
    </head>
    <body>
        {% include 'AppBundle:Main:header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'AppBundle:Main:footer.html.twig' %}
        <script>
            var updateActivityUrl = '{{ path('update_activity') }}',
                userId = {% if app.user is not null %}{{ app.user.getId }}{% else %}null{% endif %};
        </script>
        <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/main/activity.js') }}"></script>
        {% block javascript %}{% endblock %}
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80842121-1', 'auto');
        ga('send', 'pageview');
        </script>
    </body>
</html>
