<div id="{{ comment.getId }}" class="comment">
    <div class="comment-avatar">
        <img src="{% if app.user.avatar %}{{ app.user.getAvatarImageUrl }}{% else %}{% if app.user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" />
    </div>
    <div class="comment-block">
        <h1>{{ comment.user.getUsername }}</h1>
        <p>{{ comment.getContent }}</p>
        {% set difference = comment.getCreationDate.diff(date("now")) %}
        {% if (difference.h < 1 and difference.i < 15) and (app.user.getId == comment.getUser.getId) %}
            <a href="{{ path('delete_comment') }}" class="delete-comment">{{ 'delete' | trans }}</a>
        {% endif %}
    </div>
    <div class="clearfix"></div>
</div>