{% extends "AppBundle:Main:base.html.twig" %}
{% block page_title %}{{ 'title.contact' | trans }}{% endblock %}
{% block body %}
<div class="body-content">
    <div class="container top-bottom-padding3 terms">
        <h1 align="center">{{ 'title.contact' | trans }}</h1>
        <p align="center">{{ 'contact.text' | trans | raw }}</p>
    </div>
</div>
{% endblock body %}