{% extends "AppBundle:Main:base.html.twig" %}
{% block page_title %}Edit user {{ app.user.getUsername }}{% endblock %}
{% block body %}
    {{ form_start(form, {'action': path('fos_user_profile_edit'), 'method': 'POST', 'class': 'form-horizontal fos_user_profile_edit'}) }}
        <div class="container">
            <div class="edit-user-container col-lg-10 col-lg-offset-1">
                <div class="row">
                    <div class="edit-wallImage">
                        {{ form_widget(form.wallImage, { 'attr': {'id' : 'inputWallImage', 'name' : 'inputWallImage', 'class' : 'form-control invisible', 'accept' : 'image/*'} }) }}
                        <div class="edit-wallImage-title" onclick="$('#fos_user_profile_form_wallImage').click();">{{ 'account.change.wall.image' | trans }}</div>
                        <img id="wallImg" src="{% if app.user.wallImage %}{{ app.user.getWallImageUrl }}{% else %}{{ asset('images/nowall.jpg') }}{% endif %}" />
                        <div class="form_error_field">{{ form_errors(form.wallImage) }}</div>
                    </div>
                    <div class="edit-avatar">
                        {{ form_widget(form.avatar, { 'attr': {'id' : 'inputAvatar', 'name' : 'inputAvatar', 'class' : 'form-control invisible', 'accept' : 'image/*'} }) }}
                        <div class="edit-avatar-title" onclick="$('#fos_user_profile_form_avatar').click();"><span class="glyphicon glyphicon-camera"></span></div>
                        <img id="avatarImg" src="{% if app.user.avatar %}{{ app.user.getAvatarImageUrl }}{% else %}{% if app.user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" />
                        <div class="form_error_field">{{ form_errors(form.avatar) }}</div>
                    </div>
                    <div class="edit-user-body">
                        <div class="edit-row">
                            <div class="input-title">{{ 'account.name' | trans }}</div>
                        </div>
                        <div class="edit-row">
                            <div class="left">
                                {{ form_widget(form.firstName, { 'attr': {'class': 'form-control edit-user-inline edit-user-country', 'id' : 'inputLocationCountry', 'placeholder' : 'account.first.name' | trans } }) }}
                                <div class="form_error_field">{{ form_errors(form.firstName) }}</div>
                            </div>
                            <div class="right">
                                {{ form_widget(form.lastName, { 'attr': {'class': 'form-control edit-user-inline', 'id' : 'inputLocationCity', 'placeholder' : 'account.last.name' | trans } }) }}
                                <div class="form_error_field">{{ form_errors(form.lastName) }}</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="edit-row">
                            <div class="input-title">{{ 'account.location' | trans }}</div>
                        </div>
                        <div class="edit-row">
                            <div class="left">
                                {{ form_widget(form.locationCountry, { 'attr': {'class': 'form-control edit-user-inline edit-user-country', 'id' : 'inputLocationCountry', 'placeholder' : 'account.country' | trans } }) }}
                                <div class="form_error_field">{{ form_errors(form.locationCountry) }}</div>
                            </div>
                            <div class="right">
                                {{ form_widget(form.locationCity, { 'attr': {'class': 'form-control edit-user-inline', 'id' : 'inputLocationCity', 'placeholder' : 'account.city' | trans } }) }}
                                <div class="form_error_field">{{ form_errors(form.locationCity) }}</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="edit-row">
                            <div class="left">
                                <div class="input-title">{{ 'account.phone' | trans }}</div>
                                {{ form_widget(form.phone, { 'attr': {'class': 'form-control edit-user-inline edit-user-country', 'id' : 'inputLocationCountry', 'placeholder' : 'account.phone' | trans } }) }}
                                <div class="form_error_field">{{ form_errors(form.phone) }}</div>
                            </div>
                            <div class="right">
                                <div class="input-title">{{ 'account.gender' | trans }}</div>
                                {{ form_widget(form.gender, { 'attr': {'class': 'form-control edit-user-inline', 'id' : 'inputLocationCity', 'placeholder' : 'account.gender' | trans } }) }}
                                <div class="form_error_field">{{ form_errors(form.gender) }}</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
                        <div class="edit-row">
                            <div class="input-title">{{ 'account.about' | trans }}</div>
                            {{ form_widget(form.about, { 'attr': {'class': 'form-control edit-user-textarea', 'id' : 'inputAbout', 'placeholder' : 'О вас'} }) }}
                        </div>
                    </div>
                    <div class="submit-row">
                        <input class="btn btn-primary" type="submit" value="{{ 'save' | trans }}" />
                    </div>
                </div>
            </div>
        </div>
{{ form_end(form) }}
{% endblock %}
{% block javascript %}
<script>
$('#fos_user_profile_form_wallImage, #fos_user_profile_form_avatar').on('change', function(ev) {
    var imageId = $(this).attr('id'),
        f = ev.target.files[0],
        fr = new FileReader(),
        img = null;
    
    switch (imageId) {
        case 'fos_user_profile_form_wallImage':
            img = 'wallImg';
            break
        case 'fos_user_profile_form_avatar':
            img = 'avatarImg';
            break
        default:
            alert('Undefined');
    }
    
    fr.onload = function(ev2) {
        $('#' + img).attr('src', ev2.target.result);
    };

    fr.readAsDataURL(f);
});
</script>
{% endblock %}