{% extends 'AppBundle:Main:base.html.twig' %}
{% block page_title %}{{ 'photo.edit' | trans({'%photo%': photo.getName}) }}{% endblock %}
{% block body %}
    <div class="body-content">
        <div class="container top-bottom-padding3">
            {{ form_start(form, {'action': path('photo_edit', { id: photo.getId }), 'method': 'POST', 'class': 'form-horizontal'}) }}
                <div id="col-left" class="col-md-9 upload-right-col">
                    <div class="alert alert-dismissible alert-danger photo-validation">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        {{ 'photo.photo.empty' | trans }}
                    </div>
                    {% if (form_errors(form.title)) %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        {{ form_errors(form.title) }}
                    </div>
                    {% endif %}
                    {% if (form_errors(form.description)) %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        {{ form_errors(form.description) }}
                    </div>
                    {% endif %}
                    <img id="edit-image" src="{{ photo.getImage }}" />
                </div>
                <div id="col-right" class="col-md-3">
                    <div class="upload-row">
                        <label for="inputTitle">{{ 'photo.title' | trans }}</label>
                        {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'id' : 'inputTitle', 'placeholder' : 'photo.title.placeholder' | trans } }) }}
                    </div>
                    <div class="upload-row">
                        <label for="inputDescription">{{ 'photo.description' | trans }}</label>
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control textarea-description', 'id' : 'inputDescription' } }) }}
                    </div>
                    <div class="upload-row">
                        <input type="submit" class="btn fullwidth btn-publish" value="{{ 'save' | trans }}" />
                    </div>
                </div>
                {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}