{% extends "AppBundle:Main:base.html.twig" %}
{% block page_title %}{{ title | trans }}{% endblock %}
{% block body %}
<div class="body-content">
    <div class="container top-bottom-padding3">
        <h1 align="center">{{ title | trans }}</h1>
        <p align="center">{{ message | trans }}</p>
    </div>
</div>
{% endblock body %}