{% extends 'AppBundle:Main:flowBase.html.twig' %}
{% block page_title %}{{ 'title.flow' | trans }}{% endblock %}
{% block ajaxUrl %}{{ path('flow') }}{% endblock %}
{% block alertBlock %}
<div class="jumbotron jumbotron-welcome jumbotron-welcome-flow">
    <h1>{{ 'flow.flow.title' | trans }}</h1>
    <p>{{ 'flow.flow.description' | trans }}</p>
</div>
{% if emptyFlow %}
<div class="alert alert-dismissible alert-warning emptyFlowWarning">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <h4>{{ 'flow.alert.title' | trans | raw }}</h4>
    <p>{{ 'flow.alert.desc' | trans | raw }}</p>
</div>
{% endif %}
{% endblock %}
{% block categoriesNav %}
<ul class="categories-nav categories-nav-flow">
    <li class="active"><a href="{{ path('flow') }}">{{ 'flow.flow' | trans }}</a></li>
    <li><a href="{{ path('photography') }}">{{ 'photography' | trans }}</a></li>
    <li><a href="{{ path('painting') }}">{{ 'painting' | trans }}</a></li>
    <li><a href="{{ path('3d') }}">{{ '3d' | trans }}</a></li>
</ul>
{% endblock %}