{% for photo in photos %}
    <li>
        <div class="flow-photo">
            {% if photo.getModerationDate is null %}
                <div class="photo-pending">Фотография проходит модерацию. <div class="pending-icon float-right"><span class="glyphicon glyphicon-time"></span></div></div>
            {% endif %}
            <a href="{{ path('photo', { id: photo.getId }) }}"><img id="{{ photo.getId }}" src="{{ photo.getImage }}"></a>
            <div class="info">
                <div class="avatar"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}"><img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
                <div class="description">
                        <a href="{{ path('photo', { id: photo.getId }) }}"><h1>{{ photo.getTitle }}</h1></a>
                        <a class="left" href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ 'by' | trans }} {{ photo.getUser.getUsername }}</a>
                        <div class="creation-date right">{{ photo.getModerationDate|time_diff | trans}}</div>
                </div>
            </div>
        </div>
    </li>  
{% endfor %}