{% extends 'AppBundle:Main:base.html.twig' %}
{% block page_title %}{% endblock %}
{% block meta_tags %}{% endblock %}
{% block body %}
    <div class="body-content">
        <div class="modal photo-modal">
            <div class="modal-dialog-photos">
                <div class="modal-content-photo">
                    <div class="modal-body-photo">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid flow-navbar">
            <div class="container">
                {% block categoriesNav %}{% endblock %}
            </div>
        </div>
        <div class="container top-buffer flow-bottom-buffer">
            {% block alertBlock %}{% endblock %}
            <div class="sub-categories">
                {% block subCategoryNav %}{% endblock %}
            </div>
            {% if photos %}
            <ul class="flow effect-2" id="photos">
            {% include 'AppBundle:Main:flowPhoto.html.twig' %}
            </ul>
            <div class="loading"></div>
            {% else %}
                {% block emptyFlow %}{% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/main/modernizr.custom.js') }}"></script>
<script src="{{ asset('js/main/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('js/main/imagesloaded.js') }}"></script>
<script src="{{ asset('js/main/classie.js') }}"></script>
<script src="{{ asset('js/main/AnimOnScroll.js') }}"></script>
    <script>
        var offset = 0;
        
        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                offset += 15;
                $('.loading').fadeIn();
                $.ajax({
                    type: 'POST',
                    url: '{% block ajaxUrl %}{% endblock %}',
                    data: 'offset=' + offset,
                    success: function(response){
                        $('.flow').append(response);
                        $('.loading').fadeOut();
                        new AnimOnScroll( document.getElementById( 'photos' ), {
                                minDuration : 0.4,
                                maxDuration : 0.7,
                                viewportFactor : 0.2
                        }); 
                    }
                });
            }
         });
        
        /*
        * Modal close
        */
        
        $(document).on('click', ".modal-close", function() {
            $('body').css('overflow', 'auto');
            $('.modal').hide();    
        });
        
        /*
         * Photos
         */
        
        $(document).on('click', ".flow-photo", function() {
            var photoId = $(this).find('img').attr('id'),
                url = '{{ path("photo", {'id': 'id'}) }}'; 

            url = url.replace("id", photoId);
            
            $.ajax({
                type: 'POST',
                url: url,
                success: function(response){
                    $('.photo-modal').show().find('.modal-body-photo').html(response);
                }
            });
        });
        
        /*
         * Check if there is at least one photo
         */
       if ($('#photos').length){
           new AnimOnScroll( document.getElementById( 'photos' ), {
                   minDuration : 0.4,
                   maxDuration : 0.7,
                   viewportFactor : 0.2
           });
       }
    </script>
{% endblock %}