<div class="footer">
    <div class="container top-bottom-padding3">
        <p>
            <ul class="list-inline">
                <li><a href="{{ path('index') }}">{{ 'footer.home' | trans }}</a></li>
                <li><a href="{{ path('page', { slug : 'terms' }) }}">{{ 'footer.terms' | trans }}</a></li>
                <li><a href="{{ path('contact') }}">{{ 'footer.contact' | trans }}</a></li>
            </ul>
        <p>
            <ul class="list-inline footer-lang">
                <li><a href="?lang=en">{{ 'language.en' | trans }}</a></li>
                <li><a href="?lang=ru">{{ 'language.ru' | trans }}</a></li>
            </ul>
        <p>
        <p>EmotionFolio &copy; 2016</p>
    </div>
 </div>