<form method="POST" action="{{ path('search') }}" class="navbar-form navbar-left" role="search">
    <div class="form-group header-form-group">
        {{ form_widget(form.phrase, { 'attr': {'class': 'form-control custom-search', 'placeholder' : 'whats.on.your.mind', 'autocomplete' : 'off'} }) }}
    </div>
    {{ form_widget(form._token) }}
</form>