{% if app.user is not null %}
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid container-offset">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}">EmotionFolio</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>{{ render(controller('AppBundle:Search:form')) }}</li>
                <li class="dropdown navbar-activity">
                    <div class="activity-icon" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-bell"></span>
                        {% if checkActivity() %}<div class="new-activity">{{ checkActivity() }}</div>{% endif %}
                    </div>
                    <div class="dropdown-menu header-activity-dropdown">
                        <div class="activity-header"><h1>{{ 'notifications' | trans }}</h1></div>
                        <div class="activity-body">
                            {% for activity in app.user.getActivity %}
                                {% if app.user.getId != activity.getUser.getId %}
                                    <div class="activity clearfix">
                                        <div class="activity-avatar">
                                            {% if activity.getType == 4 or activity.getType == 5 %}
                                                <img src="{% if activity.getUser.avatar %}{{ activity.getUser.getAvatarImageUrl }}{% else %}{% if activity.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" />
                                            {% else %}
                                            <a href="{{ path('profile', { username : activity.getUser.getUsername }) }}">
                                                <img src="{% if activity.getUser.avatar %}{{ activity.getUser.getAvatarImageUrl }}{% else %}{% if activity.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" />
                                            </a>
                                            {% endif %}
                                        </div>
                                        <div class="activity-src">
                                            {% if activity.getType == 2 or activity.getType == 3  or activity.getType == 4 or activity.getType == 5 %}
                                                <a href="{{ path('photo', { id: activity.getPhoto.getId }) }}"><img src="{{ activity.getPhoto.getImage }}" /></a>
                                            {% endif %}
                                        </div>
                                        <div class="activity-content">
                                            {% if activity.getType == 1 %}
                                                {{ 'activity.follow' | trans({'%username%': activity.getUser.getUsername, '%profile%': path('profile', {'username': activity.getUser.getUsername }) }) | raw }}
                                            {% elseif activity.getType == 2 %}
                                                {{ 'activity.like' | trans({'%username%': activity.getUser.getUsername, '%profile%': path('profile', {'username': activity.getUser.getUsername })}) | raw }}
                                            {% elseif activity.getType == 3 %}
                                                {{ 'activity.comment' | trans({'%username%': activity.getUser.getUsername, '%profile%': path('profile', {'username': activity.getUser.getUsername })}) | raw }}
                                            {% elseif activity.getType == 4 %}
                                                {{ 'activity.moderation.accepted' | trans }}
                                            {% elseif activity.getType == 5 %}
                                                {{ 'activity.moderation.rejected' | trans({ '%rejectReason%': activity.getPhoto.getRejectReason }) | raw }}
                                            {% endif %}
                                            <div class="activity-date">{{ activity.getCreationDate | time_diff }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li><a href="{{ path('upload_photo') }}" class="upload-photo"><span class="glyphicon glyphicon-cloud"></span> {{ 'account.upload' | trans }}</a></li>
                <li><a href="#" class="dropdown-toggle dropdown-profile" data-toggle="dropdown" role="button" aria-expanded="false"><div class="header-avatar"><img src="{% if app.user.avatar %}{{ app.user.getAvatarImageUrl }}{% else %}{% if app.user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></div>{{ app.user.username }} <span class="caret"></span></a>
                        <ul class="user-dropdown dropdown-menu" role="menu">
                            {% if (is_granted('ROLE_MODERATOR')) or (is_granted('ROLE_EDITOR')) %}<li><a href="{{ path('admin') }}">{{ 'account.control.panel' | trans }}</a></li>{% endif %}
                            <li><a href="{{ path('profile', { 'username' : app.user.getUsername }) }}">{{ 'account.my.profile' | trans }}</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">{{ 'account.change.password' | trans }}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'account.log.out' | trans }}</a></li>
                        </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% else %}
    <nav class="navbar-not-logged navbar-default">
        <div class="container-fluid welcome-margin">
            <div class="navbar-header navbar-header-index">
                <a class="navbar-brand navbar-brand-index" href="{{ path('index') }}"><img src="{{ asset('images/emotionfolio-logo.png') }}" /></span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'account.log.in' | trans }}</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'account.register' | trans }}</a></li>
            </ul>
        </div>
    </nav>
{% endif %}