{% extends 'AppBundle:Main:baseIndex.html.twig' %}
{% block page_title %}{{ 'title.index' | trans }}{% endblock %}
{% block body %}
    <section id="welcome">
        <nav class="navbar-index navbar-default">
            <div class="container-fluid welcome-margin">
                <div class="navbar-header navbar-header-index">
                    <a class="navbar-brand navbar-brand-index" href="{{ path('index') }}"><img src="{{ asset('images/emotionfolio-logo.png') }}" /></span></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'account.log.in' | trans }}</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'account.register' | trans }}</a></li>
                </ul>
            </div>
        </nav>
        <div id="index" class="container page-wrap">
            <h1 class="text-white welcome-heading">{{ 'welcome' | trans }}</h1>
            <p class="lead text-white welcome-slogan">{{ 'slogan' | trans }}</p>
            <div class="start-btn-wrapper">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">{{ 'account.get.started' | trans }}</a>
            </div>
        </div>
    </section>
    <section id="popular" class="body-content">
        <div class="heading-wrap container">
            <h1>{{ 'welcome.what.is.emotionfolio' | trans }}</h1>
            <p class="lead">{{ 'welcome.what.is.emotionfolio.desc' | trans }}</p>
        </div>
        <div class="heading-wrap container">
            <div class="col-md-6 function">
                <div class="functions-icon">
                    <i class="zmdi zmdi-camera "></i>
                    <h1>{{ 'function.share.photos.title' | trans }}</h1>
                    <p>{{ 'function.share.photos.desc' | trans }}</p>
                </div>
            </div>
            <div class="col-md-6 function">
                <div class="functions-icon">
                    <i class="zmdi zmdi-search"></i>
                    <h1>{{ 'function.discover.photos.title' | trans }}</h1>
                    <p>{{ 'function.discover.photos.desc' | trans }}</p>
                </div>
            </div>
        </div>
        <div class="heading-wrap container">
            <p class="lead">{{ 'welcome.most.popular.photos' | trans }}</p>
        </div>
        <div class="flow-tabs-wrap">
            <div class="flow-tabs-nav">
                <div class="container text-center">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#photography" class="tab-photoghraphy" aria-controls="home" role="tab" data-toggle="tab">{{ 'photography' | trans }}</a></li>
                        <li role="presentation"><a href="#painting" class="tab-painting" aria-controls="profile" role="tab" data-toggle="tab">{{ 'painting' | trans }}</a></li>
                        <li role="presentation"><a href="#threeDemensional" class="tab-threeDemensional" aria-controls="settings" role="tab" data-toggle="tab">{{ '3d' | trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="photography">
                    <div class="container">
                        <ul class="flow effect-2" id="photographies">
                            {% for photo in photographies %}
                                <li>
                                    <div class="flow-photo">
                                        <a href="{{ path('photo', { id: photo.getId }) }}"><img id="{{ photo.getId }}" src="{{ photo.getImage }}"></a>
                                        <div class="info">
                                            <div class="avatar"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}"><img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
                                            <div class="description">
                                                    <h1>{{ photo.getTitle }}</h1>
                                                    <a class="left" href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ 'by' | trans }} {{ photo.getUser.getUsername }}</a>
                                                    <div class="creation-date right">{{ photo.getModerationDate|time_diff | trans}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>  
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="painting">
                    <div class="container">
                        <ul class="flow effect-2" id="paintings">
                            {% for photo in paintings %}
                                <li>
                                    <div class="flow-photo">
                                        <a href="{{ path('photo', { id: photo.getId }) }}"><img id="{{ photo.getId }}" src="{{ photo.getImage }}"></a>
                                        <div class="info">
                                            <div class="avatar"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}"><img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
                                            <div class="description">
                                                    <h1>{{ photo.getTitle }}</h1>
                                                    <a class="left" href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ 'by' | trans }} {{ photo.getUser.getUsername }}</a>
                                                    <div class="creation-date right">{{ photo.getModerationDate|time_diff | trans}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>  
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="threeDemensional">
                    <div class="container">
                        <ul class="flow effect-2" id="threeDemensionals">
                        {% for photo in threeDemensionals %}
                            <li>
                                <div class="flow-photo">
                                    <a href="{{ path('photo', { id: photo.getId }) }}"><img id="{{ photo.getId }}" src="{{ photo.getImage }}"></a>
                                    <div class="info">
                                        <div class="avatar"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}"><img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></a></div>
                                        <div class="description">
                                                <h1>{{ photo.getTitle }}</h1>
                                                <a class="left" href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ 'by' | trans }} {{ photo.getUser.getUsername }}</a>
                                                <div class="creation-date right">{{ photo.getModerationDate|time_diff | trans}}</div>
                                        </div>
                                    </div>
                                </div>
                            </li>  
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    </section>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/main/modernizr.custom.js') }}"></script>
<script src="{{ asset('js/main/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('js/main/imagesloaded.js') }}"></script>
<script src="{{ asset('js/main/classie.js') }}"></script>
<script src="{{ asset('js/main/AnimOnScroll.js') }}"></script>
<script>
    //var bgPath = '{{ asset('images/backgrounds/') }}' + Math.floor((Math.random()*4) + 1) + '.jpg';
    var bgPath = '{{ asset('images/backgrounds/') }}1.jpg';
    $('#welcome').css({'background' : 'url(' + bgPath +') no-repeat center center fixed', 'background-size' : 'cover'});

    $(window).scroll(function() {
        if ($(document).scrollTop() > 100) {
            $('.navbar-index').css('background', '#019dea');
        }
        else {
            $('.navbar-index').css('background', 'none');
        }
    });
    
    if ($('#photographies').length){
        new AnimOnScroll( document.getElementById( 'photographies' ), {
                minDuration : 0.4,
                maxDuration : 0.7,
                viewportFactor : 0.2
        });
    }
    
    $('.tab-painting').click(function() {
        if ($('#paintings').length){
            new AnimOnScroll( document.getElementById( 'paintings' ), {
                    minDuration : 0.4,
                    maxDuration : 0.7,
                    viewportFactor : 0.2
            });
        }
    });
    
    $('.tab-threeDemensional').click(function() {
        if ($('#threeDemensionals').length){
            new AnimOnScroll( document.getElementById( 'threeDemensionals' ), {
                    minDuration : 0.4,
                    maxDuration : 0.7,
                    viewportFactor : 0.2
            });
        }
    });
    
    
</script>
{% endblock %}