{% extends "AppBundle:Main:baseIndex.html.twig" %}
{% block page_title %}{{ page.getTitle | trans }}{% endblock %}
{% block body %}
<div class="body-content">
    <div class="container top-bottom-padding3 terms">
            {{ page.getContent | raw }}
    </div>
</div>
{% endblock body %}