{% extends 'AppBundle:Main:flowBase.html.twig' %}
{% block page_title %}{{ 'title.painting' | trans }}{% endblock %}
{% block ajaxUrl %}{{ path('painting') }}{% endblock %}
{% block alertBlock %}
<div class="jumbotron jumbotron-welcome jumbotron-welcome-painting">
    <h1>{{ 'flow.painting.title' | trans }}</h1>
    <p>{{ 'flow.painting.description' | trans }}</p>
</div>
{% endblock %}
{% block categoriesNav %}
<ul class="categories-nav categories-nav-flow">
    <li><a href="{{ path('flow') }}">{{ 'flow.flow' | trans }}</a></li>
    <li><a href="{{ path('photography') }}">{{ 'photography' | trans }}</a></li>
    <li class="active"><a href="{{ path('painting') }}">{{ 'painting' | trans }}</a></li>
    <li><a href="{{ path('3d') }}">{{ '3d' | trans }}</a></li>
</ul>
{% endblock %}
{% block subCategoryNav %}
<a href="{{ path('painting_subcategory', { 'subCategory': 'landscapes' }) }}" class="btn btn-success btn-subcategory">{{ 'landscapes' | trans }}</a>
<a href="{{ path('painting_subcategory', { 'subCategory': 'seascapes' }) }}" class="btn btn-primary btn-subcategory">{{ 'seascapes' | trans }}</a>
<a href="{{ path('painting_subcategory', { 'subCategory': 'portrait' }) }}" class="btn btn-warning btn-subcategory">{{ 'portrait' | trans }}</a>
<a href="{{ path('painting_subcategory', { 'subCategory': 'stilllife' }) }}" class="btn btn-danger btn-subcategory">{{ 'stilllife' | trans }}</a>
<a href="{{ path('painting_subcategory', { 'subCategory': 'architecture' }) }}" class="btn btn-default btn-subcategory">{{ 'architecture' | trans }}</a>
<a href="{{ path('painting_subcategory', { 'subCategory': 'fantasy' }) }}" class="btn btn-warning btn-subcategory">{{ 'fantasy' | trans }}</a>
{% endblock %}
{% block emptyFlow %}
    <div class="empty-flow">
        <span class="glyphicon glyphicon-picture"></span>
        <h3>{{ 'flow.empty.category' | trans | raw }}</h3>
    </div>
{% endblock %}