{% extends "AppBundle:Main:base.html.twig" %}
{% block page_title %}{{ 'title.pending' | trans }}{% endblock %}
{% block body %}
<div class="body-content">
    <div class="container top-bottom-padding3">
        <div class="row">
            <h1 align="center">{{ 'title.pending' | trans }}</h1>
            <p align="center">{{ 'photo.pending.description' | trans }}</p>
        </div>
    </div>
</div>
{% endblock body %}