{% extends 'AppBundle:Main:flowBase.html.twig' %}
{% block page_title %}{{ 'title.photography' | trans }}{% endblock %}
{% block ajaxUrl %}{{ path('photography') }}{% endblock %}
{% block alertBlock %}
<div class="jumbotron jumbotron-welcome jumbotron-welcome-photography">
    <h1>{{ 'flow.photography.title' | trans }}</h1>
    <p>{{ 'flow.photography.description' | trans }}</p>
</div>
{% endblock %}
{% block categoriesNav %}
<ul class="categories-nav categories-nav-flow">
    <li><a href="{{ path('flow') }}">{{ 'flow.flow' | trans }}</a></li>
    <li class="active"><a href="{{ path('photography') }}">{{ 'photography' | trans }}</a></li>
    <li><a href="{{ path('painting') }}">{{ 'painting' | trans }}</a></li>
    <li><a href="{{ path('3d') }}">{{ '3d' | trans }}</a></li>    
</ul>
{% endblock %}
{% block subCategoryNav %}
<a href="{{ path('photography_subcategory', { 'subCategory': 'abstract' }) }}" class="btn btn-warning btn-subcategory">{{ 'abstract' | trans }}</a>
<a href="{{ path('photography_subcategory', { 'subCategory': 'animals' }) }}" class="btn btn-success btn-subcategory">{{ 'animals' | trans }}</a>
<a href="{{ path('photography_subcategory', { 'subCategory': 'blackandwhite' }) }}" class="btn btn-default btn-subcategory">{{ 'blackandwhite' | trans }}</a>
<a href="{{ path('photography_subcategory', { 'subCategory': 'architecture' }) }}" class="btn btn-primary btn-subcategory">{{ 'architecture' | trans }}</a>
<a href="{{ path('photography_subcategory', { 'subCategory': 'fashion' }) }}" class="btn btn-danger btn-subcategory">{{ 'fashion' | trans }}</a>
<a href="{{ path('photography_subcategory', { 'subCategory': 'food' }) }}" class="btn btn-warning btn-subcategory">{{ 'food' | trans }}</a>
<a href="{{ path('photography_subcategory', { 'subCategory': 'landscapes' }) }}" class="btn btn-success btn-subcategory">{{ 'landscapes' | trans }}</a>
<a href="{{ path('photography_subcategory', { 'subCategory': 'macro' }) }}" class="btn btn-warning btn-subcategory">{{ 'macro' | trans }}</a>
<a href="{{ path('photography_subcategory', { 'subCategory': 'people' }) }}" class="btn btn-info btn-subcategory">{{ 'people' | trans }}</a>
<a href="{{ path('photography_subcategory', { 'subCategory': 'sport' }) }}" class="btn btn-primary btn-subcategory">{{ 'sport' | trans }}</a>
{% endblock %}
{% block emptyFlow %}
    <div class="empty-flow">
        <span class="glyphicon glyphicon-picture"></span>
        <h3>{{ 'flow.empty.category' | trans | raw }}</h3>
    </div>
{% endblock %}