{% extends 'AppBundle:Main:basePhoto.html.twig' %}
{% block page_title %}{{ photo.getTitle }}{% endblock %}
{% block meta_tags %}
<meta property="og:type" content="article" />
<meta property="og:title"  content="{{ photo.getTitle }}" />
<meta property="og:description" content="{{ photo.getDescription }} by {{ photo.getUser.getUsername }}" />
<meta property="og:image" content="{{ photo.getImage }}" />
{% endblock %}
{% block body %}
<div class="modal">
    <div class="modal-dialog-followers">
        <div class="modal-content col-md-offset-4 col-md-3">
            <div class="modal-header clearfix">
                <h3 class="modal-title">{{ 'photo.delete.title' | trans }}</h3>
            </div>
            <div class="modal-body">
                {{ 'photo.delete.info' | trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'no' | trans }}</button>
                <a href="{{ path('photo_delete', { id: photo.getId }) }}" class="btn btn-primary">{{ 'yes' | trans }}</a>
            </div>
        </div>
    </div>
</div>
<div class="photo-left-block col-md-9 nopadding">
    <a href="{% if referer is not null%}{{ referer }}{% else %}{{ path('index') }}{% endif %}" class="modal-close-photo modal-close-photo-left glyphicon glyphicon-remove"></a>
    <img src="{{ photo.getImage }}" alt="{{ photo.getDescription }} by {{ photo.getUser.getUsername }}" />
</div>
<div class="photo-right-block col-md-3">
    <a href="{% if referer is not null%}{{ referer }}{% else %}{{ path('index') }}{% endif %}" class="modal-close-photo modal-close-photo-right glyphicon glyphicon-remove"></a>
    <div class="clearfix"></div>
    <div class="photo-author">
        <div class="photo-author-image">
            <img src="{% if photo.getUser.avatar %}{{ photo.getUser.getAvatarImageUrl }}{% else %}{% if photo.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" />
        </div>
        <div class="photo-author-information">
            <h1 class="photo-description-username"><a href="{{ path('profile', { username : photo.getUser.getUsername }) }}">{{ photo.getUser.getUsername }}</a></h1>
            <p class="photo-description-followers">{{ photo.getUser.getFollowers | length }} {{ 'account.followers' | trans }}</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="photo-information">
        <h1>{{ photo.getTitle }}</h1>
        <p>{{ photo.getDescription }}</p>
    </div>
    {% if app.user is not null and app.user.getId == photo.getUser.getId %}
    <div class="photo-edit clearfix">
        <a class="float-left" href="{{ path('photo_edit', { id: photo.getId }) }}" ><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <div class="photo-delete float-left" data-toggle="modal" data-target=".modal" ><span class="glyphicon glyphicon-trash"></span> Delete</div>
    </div>
    {% endif %}
    <div class="photo-share">
        {% if photo.getLikedByUser %}
        <div class="like-btn unlike"><span class="glyphicon glyphicon-heart"></span> <span class="btn-text">{{ photo.getLikes | length }}</span></div>
        {% else %}
        <div class="like-btn like"><span class="glyphicon glyphicon-heart"></span> <span class="btn-text">{{ photo.getLikes | length }}</span></div>
        {% endif %}
        <div class="share-btn" data-toggle="toggle" data-placement="bottom" title="{{ 'photo.share.description' | trans }}"><span class="glyphicon glyphicon-share-alt"></span> <span class="btn-text">{{ 'photo.share' | trans }}</span></div>
        <div class="clearfix"></div>
    </div>
    <div class="share-content">
        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" class="share-btns">
            <div class="btn-facebook icon"><span class="fa fa-facebook"></span></div>
            <div class="title">Facebook</div>
        </a>
        <a target="_blank" href="http://twitter.com/share?text={{ photo.getTitle }}&url={{ app.request.uri }}" class="share-btns">
            <div class="btn-twitter icon"><span class="fa fa-twitter"></span></div>
            <div class="title">Twitter</div>
        </a>
        <a target="_blank" href="http://vk.com/share.php?url={{ app.request.uri }}" class="share-btns">
            <div class="btn-vk icon"><span class="fa fa-vk"></span></div>
            <div class="title" >VK</div>
        </a>
    </div>
        {% if app.user is not null %}
        <div class="add-comment">
            <form class="add-comment-form" action="{{ path('add_comment') }}" method="POST" class="form-horizontal">
                <fieldset>
                        <div class="form-group nopadding">
                            <div class="comment-avatar">
                                <img src="{% if app.user.avatar %}{{ app.user.getAvatarImageUrl }}{% else %}{% if app.user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" />
                            </div>
                            <div class="comment-block">
                                  {{ form_widget(form.content, { 'attr': {'class': 'form-control comment-input', 'placeholder' : 'Add a comment', 'autocomplete' : 'off'} }) }}
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                </fieldset>
            </form> 
        </div>
        {% endif %}
        <div class="comments">
        {% for comment in photo.getComments %}
            {% if comment.isActive %}
                <div id="{{ comment.getId }}" class="comment">
                    <div class="comment-avatar">
                        <img src="{% if comment.getUser.avatar %}{{ comment.getUser.getAvatarImageUrl }}{% else %}{% if comment.getUser.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" alt="{{ comment.getUser.getUsername }}" />
                    </div>
                    <div class="comment-block">
                        <h1>{{ comment.user.getUsername }}</h1>
                        <p>{{ comment.getContent }}</p>
                        {% set difference = comment.getCreationDate.diff(date("now")) %}
                        {% if (difference.h < 1 and difference.i < 15) and (app.user.getId == comment.getUser.getId) %}
                            <a href="{{ path('delete_comment') }}" class="delete-comment">{{ 'delete' | trans }}</a>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}
{% block javascript %}
<script>
    $('.add-comment-form').submit(function(e){
        e.preventDefault();
        
        var comment = $(this).find('#app_photo_comment_content');
        var commentVal = $(comment).val();
        
        $.ajax({
            type: 'POST',
            url: '{{ path('add_comment') }}',
            data: { photoId : {{ photo.getId }}, comment : commentVal },
            success: function(data){
                $('.comments').prepend($(data).fadeIn('slow'));
                $(comment).val('');
            }
        });
    });
    
     $(document).on('click', ".delete-comment", function(e) {
        e.preventDefault();
        
        var comment = $(this).parent().parent();
            commentId = $(comment).attr('id');
        
        $.ajax({
            type: 'POST',
            url: '{{ path('delete_comment') }}',
            data: { commentId : commentId },
            success: function(data){
                if(data == 'success') {
                    $(comment).fadeOut();
                }
            }
        });
    });
    
    $('.like-btn').click(function() {
        var btn = $(this),
            btnValue = parseInt($(this).find('.btn-text').text()),
            userId = '{% if app.user is not null %}{{ app.user.getId }}{% endif %}';
        
        if(userId) {
            if($(this).hasClass('like')) {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('like') }}',
                    data: { userId: userId, photoId: {{ photo.getId }} },
                    success: function(data){
                        btnValue += 1;

                        $(btn).removeClass('like').addClass('unlike');
                        $(btn).find('.btn-text').html(btnValue);
                    }
                });
            }
            else if($(this).hasClass('unlike')) {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('unlike') }}',
                    data: { userId: userId, photoId: {{ photo.getId }} },
                    success: function(data){
                        btnValue -= 1;

                        $(btn).removeClass('unlike').addClass('like');
                        $(btn).find('.btn-text').html(btnValue);
                    }
                });
            }
        }
    });

    $('.share-btn').popover({
        html : true,
        content: function(){
            return $('.share-content').html();
        }
    });
</script>
{% endblock %}