{% extends "AppBundle:Main:base.html.twig" %}
{% block page_title %}{{ user.getUsername }}{% endblock %}
{% block body %}
    <div class="body-content">
        <div class="modal followers-modal">
            <div class="modal-dialog-followers">
                <div class="modal-content col-md-offset-4 col-md-4">
                    <div class="modal-header">
                        <h3 class="modal-title"></h3>
                        <span class="modal-close modal-close-default glyphicon glyphicon-remove"></span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
	<div class="container-fluid">
            <div id="profile-header" class="row">
                <img src="{% if user.wallImage %}{{ user.getWallImageUrl }}{% else %}{{ asset('images/nowall.jpg') }}{% endif %}" />
            </div>
            <div class="profile-avatar"><img src="{% if user.avatar %}{{ user.getAvatarImageUrl }}{% else %}{% if user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></div>
	</div>
        <div class="container">
            <div class="row">
                {% if app.user.id is defined and app.user.getId == user.getId %}
                <div class="profile-edit profile-edit-big">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-edit">{{ 'account.edit.profile' | trans }}</a>
                </div>
                <h1 align="center" class="profile-username-header">{{ user.getUserName }}</h1>
                {% else %}
                <h1 align="center" class="profile-username-header">{{ user.getUserName }}</h1>
                {% endif %}
                <p align="center" class="profile-desc">{{ user.getAbout }}</p>
                <p align="center">
                    <span class="profile-photos-count">
                        <span class="glyphicons glyphicon glyphicon-camera"></span> <strong>{{ user.getPhotos | length}}</strong> {{ 'account.photos' | trans }}</a>
                    </span>
                    <span id="followers" class="profile-followers-count">
                        <span class="glyphicons glyphicon glyphicon-user"></span> <strong>{{ user.getFollowers | length }}</strong> {{ 'account.followers' | trans }}
                    </span>
                    <span id="followings" class="profile-followings-count">
                        <span class="glyphicons glyphicon glyphicon-user"></span> <strong>{{ user.getFollowings | length }}</strong> {{ 'account.followings' | trans }}
                    </span>
                    {% if (user.getLocationCountry) and (user.getLocationCity is null) %}
                    <span class="profile-location">
                        <span class="glyphicons glyphicon glyphicon-map-marker"></span> {{ user.getLocationCountry }}
                    </span>
                    {% elseif (user.getLocationCountry is null) and (user.getLocationCity) %}
                    <span class="profile-location">
                        <span class="glyphicons glyphicon glyphicon-map-marker"></span> {{ user.getLocationCity }}
                    </span>
                    {% elseif (user.getLocationCountry) and (user.getLocationCity) %}
                    <span class="profile-location">
                        <span class="glyphicons glyphicon glyphicon-map-marker"></span> {{ user.getLocationCountry }}, {{ user.getLocationCity }}
                    </span>
                    {% endif %}
                    {% if app.user.id is defined and app.user.getId == user.getId %}
                    <div class="profile-edit profile-edit-small">
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-edit">{{ 'account.edit.profile' | trans }}</a>
                    </div>
                    {% endif %}
                </p>
            </div>
            {% if app.user.id is defined and app.user.id != user.id %}
                {% if user.isFollowed %}
                    <p align="center"><button class="btn btn-success btn-unsubscribe">{{ 'account.following' | trans }}</button></p>
                {% else %}
                    <p align="center"><button class="btn btn-primary btn-subscribe">{{ 'account.follow' | trans }}</button></p>
                {% endif %}
            {% endif %}
            {% if photos %}
            <div class="row top-bottom-buffer">
                <ul class="flow effect-2" id="photos">
                    {% include 'AppBundle:Main:flowPhoto.html.twig' %}
                </ul>
                <div class="loading"></div>
            </div>
            {% else %}
            <div class="empty-flow">
                <span class="glyphicon glyphicon-picture"></span>
                {% if app.user is not null and app.user.getId == user.getId %}
                    <h3>{{ 'account.empty.flow' | trans }}</h3>
                    <a href="{{ path('upload_photo') }}" class="btn btn-primary btn-edit">{{ 'account.upload' | trans }}</a>
                {% else %}
                    <h3>{{ user.getUsername }} {{ 'account.other.empty.flow' | trans }}</h3>
                {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}
{% block javascript %}
<script src="{{ asset('js/main/modernizr.custom.js') }}"></script>
<script src="{{ asset('js/main/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('js/main/imagesloaded.js') }}"></script>
<script src="{{ asset('js/main/classie.js') }}"></script>
<script src="{{ asset('js/main/AnimOnScroll.js') }}"></script>
<script>
    var offset = 0,
        modalType = null,
        url = null;

    /*
    * Modal close
    */
    $(document).on('click', ".modal-close", function() {
        $('body').css('overflow', 'auto');
        $('.modal').hide();    
    });

    /*
     * Subscribe action
     */
    $(document).on('click', ".btn-subscribe", function() {
        $.ajax({
                type: 'POST',
                url: '{{ path('subscribe') }}',
                data: { userId: {{ user.getId }}, followerId: {% if app.user.id is defined %}{{ app.user.getId }}{% else %}null{% endif %} },
                success: function(data){
                    if(data == 'subscribed') {
                        $('.btn-subscribe').removeClass('btn-subscribe btn-primary').addClass('btn-unsubscribe btn-success').text('{{ 'account.following' | trans }}');
                    }
                }
        });
    });

    /*
     * Unsubscribe action
     */
    $(document).on('click', ".btn-unsubscribe", function() {
        $.ajax({
            type: 'POST',
            url: '{{ path('unsubscribe') }}',
            data: { userId: {{ user.getId }}, followerId: {% if app.user.id is defined %}{{ app.user.getId }}{% else %}null{% endif %} },
            success: function(data){
                if(data == 'unsubscribed') {
                    $('.btn-unsubscribe').removeClass('btn-unsubscribe btn-success').addClass('btn-subscribe btn-primary').text('{{ 'account.follow' | trans }}');
                }
            }
        });
    });

    /*
     * Followers modal scrolling action
     */
    $('.modal-body').on('scroll', function() {
        if($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight) {
            offset += 5;
            modalType = $(this).parent().parent().parent().attr('id');

            if(modalType == 'modal-followers') {
                url = '{{ path('profile_followers', {'username' : user.getUsername }) }}';
            }
            else if(modalType == 'modal-followings') {
                url = '{{ path('profile_following', {'username' : user.getUsername }) }}';
            }

            $.ajax({
                type: 'POST',
                url: url,
                data: 'offset=' + offset,
                success: function(response){
                    $('.modal').find('.modal-body').append(response);
                }
            });
        }
    });

    /*
     * Followers modal action 
     */
    $(document).on('click', "#followers", function() {
        var title = '{{ 'account.followers' | trans }}';

        $.ajax({
            type: 'POST',
            url: '{{ path('profile_followers', {'username' : user.getUsername }) }}',
            success: function(response){
                $('.followers-modal').find('.modal-title').html(title);
                $('.followers-modal').attr('id', 'modal-followers');
                $('.followers-modal').show().find('.modal-body').html(response);
            }
        });        
    });

    /*
     *  Following modal action
     */
    $(document).on('click', "#followings", function() {
        var title = '{{ 'account.followings' | trans }}';

        $.ajax({
            type: 'POST',
            url: '{{ path('profile_following', {'username' : user.getUsername }) }}',
            success: function(response){
                $('.followers-modal').find('.modal-title').html(title);
                $('.followers-modal').attr('id', 'modal-followings');
                $('.followers-modal').show().find('.modal-body').html(response);
            }
        });
    });


    /*
     * Modal subscribe button
     */
    $(document).on('click', ".modal-btn-subscribe", function() {
        var button = $(this),
            userId = $(this).parent().parent().attr('id');

        $.ajax({
                type: 'POST',
                url: '{{ path('subscribe') }}',
                data: { userId: userId, followerId: {% if app.user.id is defined %}{{ app.user.getId }}{% else %}null{% endif %} },
                success: function(data){
                    if(data == 'subscribed') {
                        $(button).removeClass('modal-btn-subscribe btn-primary').addClass('modal-btn-unsubscribe btn-success').text('{{ 'account.following' | trans }}');
                    }
                }
        });        
    });

    /*
     * Modal unsubscribe action 
     */
    $(document).on('click', ".modal-btn-unsubscribe", function() {
        var button = $(this),
            userId = $(this).parent().parent().attr('id');

        $.ajax({
            type: 'POST',
            url: '{{ path('unsubscribe') }}',
            data: { userId: userId, followerId: {% if app.user.id is defined %}{{ app.user.getId }}{% else %}null{% endif %} },
            success: function(data){
                if(data == 'unsubscribed') {
                    $(button).removeClass('modal-btn-unsubscribe btn-success').addClass('modal-btn-subscribe btn-primary').text('{{ 'account.follow' | trans }}');
                }
            }
        });
    });
    
    if ($('#photos').length){
        new AnimOnScroll( document.getElementById( 'photos' ), {
                minDuration : 0.4,
                maxDuration : 0.7,
                viewportFactor : 0.2
        });
    }
    
    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            offset += 15;
            $('.loading').fadeIn();
            $.ajax({
                type: 'POST',
                url: '{{ path('profile', { 'username' : user.getUsername }) }}',
                data: 'offset=' + offset,
                success: function(response){
                    $('.flow').append(response);
                    $('.loading').fadeOut();
                    new AnimOnScroll( document.getElementById( 'photos' ), {
                            minDuration : 0.4,
                            maxDuration : 0.7,
                            viewportFactor : 0.2
                    }); 
                }
            });
        }
    });
</script>
{% endblock %}