{% extends 'AppBundle:Main:base.html.twig' %}
{% block page_title %}{{ 'title.search' | trans({'%phrase%': phrase}) }}{% endblock %}
{% block body %}
    <div class="body-content-search">
        <div class="modal photo-modal">
            <div class="modal-dialog-photos">
                <div class="modal-content-photo">
                    <div class="modal-body-photo">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid flow-navbar-search">
            <div class="container">
            <ul class="categories-nav ">
                <li><a class="active search-photos-nav">{{ 'search.photos' | trans }}</a></li>
                <li><a class="search-users-nav">{{ 'search.users' | trans }}</a></li>
            </ul>
            </div>
        </div>
        <div class="container top-buffer flow-bottom-buffer">
            {% block alertBlock %}{% endblock %}
            <div class="search-photos">
                {% if photos is not empty %}
                    <ul class="flow effect-2" id="photos">
                    {% include 'AppBundle:Main:flowPhoto.html.twig' %}
                    </ul>
                    <div class="loading"></div>
                {% else %}
                    <div class="empty-flow">
                        <span class="glyphicon glyphicon-picture"></span>
                        <h3>{{ 'search.empty.photos' | trans({'%phrase%': phrase}) }}</h3>
                    </div>
                {% endif %}
            </div>
            <div class="search-users invisible">
            {% if users is not empty %}
                {% for user in users %}
                    <div id="{{ user.getId }}" class="user col-md-3 col-3-padding">
                        <div class="user-wallImage"><img src="{% if user.wallImage %}{{ app.user.getWallImageUrl }}{% else %}{{ asset('images/nowall.jpg') }}{% endif %}" /></div>
                        <div class="user-avatar"><img src="{% if user.avatar %}{{ user.getAvatarImageUrl }}{% else %}{% if user.getGender == "female" %}{{ asset('images/noavatar-female.png') }}{% else %}{{ asset('images/noavatar-male.png') }}{% endif %}{% endif %}" /></div>
                        <div class="user-info">
                            <a href="{{ path('profile', {'username' : user.getUsername}) }}">{{ user.getUsername }}</a>
                            <p class="user-followers"><span class="glyphicons glyphicon glyphicon-user"></span> <strong>{{ user.getFollowers.count }}</strong> {{ 'account.followers' | trans }}</p>
                            {% if app.user.id != user.id %}
                                {% if user.isFollowed %}
                                    <p class="p-follower"><button class="btn btn-success btn-unsubscribe">{{ 'account.following' | trans }}</button></p>
                                {% else %}
                                    <p class="p-follower"><button class="btn btn-primary btn-subscribe">{{ 'account.follow' | trans }}</button></p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="empty-flow">
                    <span class="glyphicon glyphicon-user"></span>
                    <h3>{{ 'search.empty.users' | trans({'%phrase%': phrase}) }}</h3>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/main/modernizr.custom.js') }}"></script>
<script src="{{ asset('js/main/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('js/main/imagesloaded.js') }}"></script>
<script src="{{ asset('js/main/classie.js') }}"></script>
<script src="{{ asset('js/main/AnimOnScroll.js') }}"></script>
<script>
    /*
    * Modal close
    */

    $(document).on('click', '.modal-close', function() {
        $('body').css('overflow', 'auto');
        $('.modal').hide();    
    });
    
    /*
    * Subscribe action
    */

   $(document).on('click', '.btn-subscribe', function() {
       var userId = $(this).parent().parent().parent().attr('id'),
        btn = $(this);
        
       $.ajax({
               type: 'POST',
               url: '{{ path('subscribe') }}',
               data: { userId: userId, followerId: {{ app.user.getId }} },
               success: function(data){
                   if(data == 'subscribed') {
                       $(btn).removeClass('btn-subscribe btn-primary').addClass('btn-unsubscribe btn-success').text('{{ 'account.following' | trans }}');
                   }
               }
       });
   });

   /*
    * Unsubscribe action
    */

   $(document).on('click', '.btn-unsubscribe', function() {
    var userId = $(this).parent().parent().parent().attr('id'),
        btn = $(this);

       $.ajax({
           type: 'POST',
           url: '{{ path('unsubscribe') }}',
           data: { userId: userId, followerId: {{ app.user.getId }} },
           success: function(data){
               if(data == 'unsubscribed') {
                   $(btn).removeClass('btn-unsubscribe btn-success').addClass('btn-subscribe btn-primary').text('{{ 'account.follow' | trans }}');
               }
           }
       });
   });
   
   /*
    * Photos
    */

   $(document).on('click', '.flow-photo', function() {
       var photoId = $(this).find('img').attr('id'),
           url = '{{ path("photo", {'id': 'id'}) }}'; 

       url = url.replace("id", photoId);

       $.ajax({
           type: 'POST',
           url: url,
           success: function(response){
               $('body').css('overflow', 'hidden');
               $('.photo-modal').show().find('.modal-body-photo').html(response);
           }
       });
   });
   
   $('.search-users-nav').click(function() {
       $(this).addClass('active');
       $('.search-photos-nav').removeClass('active');
       
       $('.search-photos').addClass('invisible');
       $('.search-users').removeClass('invisible');
   });
   
   $('.search-photos-nav').click(function() {
       $(this).addClass('active');
       $('.search-users-nav').removeClass('active');
       
       $('.search-users').addClass('invisible');
       $('.search-photos').removeClass('invisible');
   });
   
   if ($('#photos').length){
        new AnimOnScroll( document.getElementById( 'photos' ), {
                minDuration : 0.4,
                maxDuration : 0.7,
                viewportFactor : 0.2
        });
    }
</script>
{% endblock %}