{% extends 'AppBundle:Main:base.html.twig' %}
{% block page_title %}{{ 'account.change.password' | trans }}{% endblock %}
{% block body %}
<div class="body-security">
    <div class="security-wrapper">
    <h1>{{ 'account.change.password' | trans }}</h1>
    {% if invalid_username is defined %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>          
    </div>
    {% endif %}
    <form action="{{ path('fos_user_resetting_send_email') }}"  method="POST" class="form-horizontal fos_user_resetting_request">
        <div class="form-group">
            <label for="inputUsername" class="col-lg-12">{{ 'account.username' | trans }}</label>
            <div class="col-lg-12">
                <input type="text" id="username" class="form-control" name="username" placeholder="{{ 'account.username' | trans }}" required="required" />
            </div>
        </div>    
        <div class="form-group">
            <div class="col-lg-12">
                <input class="btn btn-default btn-blue btn-full" type="submit" value="{{ 'account.change.password' | trans}}" />
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock body %}
