{% extends 'AppBundle:Main:base.html.twig' %}
{% block page_title %}{{ 'title.password.already.requested' | trans }}{% endblock %}
{% block body %}
<div class="body-content">
    <div class="container top-bottom-padding3">
        <div class="row">
            <h1 align="center">{{ 'resetting.check_email.title' | trans }}</h1>
            <p align="center">{{ 'resetting.password_already_requested' | trans({ '%link%' : path('index')}) | raw }}</p>
        </div>
    </div>
</div>
{% endblock body %}