{% extends 'AppBundle:Main:base.html.twig' %}
{% block page_title %}{{ 'account.change.password' | trans }}{% endblock %}
{% block body %}
<div class="body-security">
    <div class="security-wrapper">
    <h1>{{ 'account.change.password' | trans }}</h1>
    {% if invalid_username is defined %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>          
    </div>
    {% endif %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" class="form-horizontal fos_user_resetting_reset">
        <div class="form-group">
            <label for="inputPassword" class="col-lg-12">{{ 'account.new.password' | trans }}</label>
            <div class="col-lg-12">
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'id' : 'inputPassword', 'placeholder' : 'account.new.password' | trans } }) }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputNewPassword" class="col-lg-12">{{ 'account.repeat.new.password' | trans }}</label>
            <div class="col-lg-12">
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'id' : 'inputNewPassword', 'placeholder' : 'account.repeat.new.password' | trans } }) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <input class="btn btn-default btn-blue btn-full" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
        </div>
        {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
    </form>
    </div>
</div>
{% endblock body %}