@font-face {
    font-family: 'Champagne';
    src: url('../../fonts/Champagne&Limousines.woff') format('woff'),
        url('../../fonts/Champagne&Limousines.ttf') format('truetype'),
        url('../../fonts/Champagne&Limousines.svg#Champagne&Limousines') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne';
    src: url('../../fonts/Champagne & Limousines.eot');
    src: url('../../fonts/Champagne & Limousines.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Champagne & Limousines.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 480px) {
    .navbar-activity {display:none !important;}
    h1{font-size:21px !important;}
    .profile-username-header {font-size:39px !important;}
    #profile-header {height: 200px;}
    p, a {font-size:15px;}

    .btn-upload-left {display:none}
    #right-col-upload {display:block;}

    .profile-edit-big {display:none;}
    .profile-edit-small {display:block !important;text-align:center;}
    .upload-input {width:100% !important;margin:0 !important;}
    .flow-tabs-nav a {padding: 10px 7px !important;font-size:15px !important;}
    .categories-nav li {margin:0 5px 0 0 !important;}
    .categories-nav li a {font-size: 14px;}
    .modal-close-photo-right {visibility:hidden;}
    .navbar-brand-index {margin:0 0 0 30px;}
}

@media (min-width: 480px) and (max-width: 991px) {
    .navbar-activity {display:none;}
    h1{font-size:21px !important;}
    .profile-username-header {font-size:39px !important;}
    #profile-header {height: 200px;}
    p, a {font-size:15px;}

    .btn-upload-left {display:none}
    #right-col-upload {display:block;}

    .profile-edit-big {display:none !important;}
    .profile-edit-small {display:block !important;text-align:center;}
    .upload-input {width:100% !important;margin:0 !important;}
    .flow-tabs-nav a {padding: 10px 7px !important;font-size:15px !important;}
    .categories-nav li {margin:0 15px 0 0 !important;}
    .categories-nav li a {font-size: 19px;}
    .modal-close-photo-right {visibility:hidden;}
    .flow li {padding: 7px;}
}

@media (min-width: 991px) {
    .categories-nav li {margin:0 15px 0 0;}
    .categories-nav li a {font-size: 19px;font-weight:bold;}
    .photo-right-block {height:100%;overflow:auto;}
    .photo-left-block {float:left;}
    .modal-close-photo-left {visibility:hidden;}
    .flow li {padding: 7px;}
}

ul, li {margin:0;padding:0;list-style-type:none;}

html, body {
    height: 100%;
}
a:focus {text-decoration: none !important;}
select {border-radius:5px !important;}
body {background:#f6f7f8;}

input, textarea, select, button {border-radius:5px !important;}
button, button:focus {border: none !important;}
a:hover {text-decoration: none;}
.btn:active, .btn:focus {outline:none !important}
.body-content {background:#fff;}
.body-content-search {background:#eeeff2}
.dropdown-menu {margin: -1px 0 0 0 !important;}
.navbar-brand {outline:none;}
.dropdown-profile:hover, .dropdown-profile:focus, .dropdown-profile:active, .dropdown-profile:visited {background:#6295ce !important;}
.dropdown-menu {padding:0 !important;}
.navbar-index, .navbar-not-logged {height: 52px;;border:none !important;box-shadow:none !important;transition:0.2s all ease;}
.navbar-index {background:none}
.navbar-not-logged {background:#598ac2;}
.navbar-brand-index {font-size:30px !important;}
.tab-content #login {margin: 0 0 52px 0;}
.navbar-brand {font-family: Champagne;font-size:25px;}
.navbar-brand:focus {outline:none}
.text-white {color:#fff}
.space-bottom {margin-bottom:25px}
.space-top {margin-top:10px;}
.space-right {margin-right: 10px}
.welcome-heading {margin-top:110px;text-align:center;font-size:55px;}
.welcome-slogan {text-align:center;font-size:25px;}
.start-btn-wrapper {text-align:center;margin:25px 0 170px 0;}
.start-btn-wrapper a {background:#019dea !important;border-color:#019dea !important;transition:0.1s all ease;padding-left:90px;padding-right:90px;font-size:20px;}
.start-btn-wrapper a:hover, .start-btn-wrapper a:active {background:#02b3f2 !important;border-color:#02b3f2 !important;}

.white {background:#fff;}
.white-text {color:#fff;}
.block-center {
    width: 383px;
    margin:0 auto;
}

.custom-search {
    background:#fffs;
    border:none;
    outline:none;
    color:#616568;
    border-radius: 15px !important;
    transition:all 0.5s ease;
}
.custom-search:focus {box-shadow:none;}
.custom-search::-webkit-input-placeholder {color:#616568;}
.custom-search::-moz-placeholder          {color:#616568;}/* Firefox 19+ */
.custom-search:-moz-placeholder           {color:#616568;}/* Firefox 18- */
.custom-search:-ms-input-placeholder      {color:#616568;}
.btn {border-radius:5px;}
.header-avatar {
    width:27px;
    height:27px;
    display:inline-block;
    border-radius:15px;
    margin:-13px 10px 0 0;
    position:relative;
    top:10px;
}

.profile-avatar {
    width:300px;
    height:300px;
    border-radius:150px;
    margin:-150px auto 0 auto;
}

.header-avatar img, .profile-avatar img {
    width:100%;
    height:100%;
    vertical-align:baseline;
    border-radius:15px;
    object-fit: cover;
}

.header-avatar img {border-radius:15px;}
.profile-avatar img {
    border-radius:150px;
    border:15px white solid;
    -webkit-border:15px white solid;
    -moz-border:15px white solid;
    -ms-border:15px white solid;
    -o-border:15px white solid;
}
.welcome-margin {margin-left:35px;margin-right:35px;}
.welcome .navbar-right {font-size:16px;}
.navbar-index .nav li a:hover {background: #02b3f2 !important;}
.navbar-index, .navbar-not-logged {
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
}
.flow-tabs-wrap img {border-radius:0 !important;}
.process-photo {width:400px;height:400px;}
.process-photo img {height:100%;width:auto;}

#subscribe-button {outline:none;}
.btn-subscribe, .btn-unsubscribe {outline: none !important;}
.follower-avatar img {width:100px;height:100px;}
.noborderradius {border-radius:0 !important;}
.tab-pane {
    background:#fff;
    padding:0 15px;
}

.custom-tabs {
    color: #555555;
    cursor: default;
}
.custom-tabs:hover {
    color: #555555;
    background-color: #121212;
    cursor: default;
}
.custom-tab-inactive {background:#121212;}

#profile-header {
    height:500px;
}
#profile-header img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.profile-header-title {
    margin-left:auto;
    margin-right:auto;
    margin-top:-350px;
    text-align:center;

}
.profile-header-title h1{
    font-size:70px;
    font-family: Champagne;
}

.profile-header-title p{
    font-size:25px;
}

.margin-top-minus1 {margin-top:-5px}
.margin-top-minus2 {margin-top:-15px}
.margin-top-minus3 {margin-top:-25px}
.margin-top-minus4 {margin-top:-35px}
.margin-top-minus5 {margin-top:-45px}

.profile-desc, .profile-location {margin-top:-5px;}
.photos {margin:25px 0;}
.photo {
    min-width: 100%;
    height: auto;

}
.photo img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.nomargin {
    margin:0 !important;
}
.nopadding-sides {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.profile-followers-count{margin-right:25px;}
.profile-followers-count, .profile-followings-count {color:#6295ce;cursor:pointer;}
.profile-followings-count {margin:0 15px 0 0;}
.profile-location {color:#6295ce}
.top-bottom-buffer-small {margin-top:15px;margin-bottom:15px;}
.top-bottom-buffer {margin-top:25px;margin-bottom:25px;}
.top-bottom-buffer2 {margin-top:120px;margin-bottom:50px;}
.top-bottom-buffer3 {margin-top:15px;margin-bottom:15px;}
.top-bottom-padding {padding-top:15px;padding-bottom:15px;}
.top-bottom-padding2 {padding-top:7px;padding-bottom:7px;}
.top-bottom-padding3 {padding-top:35px;padding-bottom:35px;}
.top-buffer {margin-top:10px;}
.top-padding {padding-top:15px;}
.footer, .footer-index {
    text-align: center;
    color:#000;
}

.footer-brand {
    font-family: Champagne;
    font-size: 25px;
    color:#000;
}
.footer-brand:hover {color:#000};
.footer-brand:active {color:#000; text-decoration: none}
.index-account {margin-top:50px;margin-bottom:50px;}
.profile-edit-big {text-align:right;position:relative;top: -95px;margin: -45px 0 0 0;}
.profile-photos-count {margin-right: 25px;color:#6295ce;cursor:pointer;}
.profile-username-header {margin:-5px 0 0 0;}
.photo-single {
    width:100%;
    height:auto;
}

.popup-avatar img {
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
}
.modal-content {border-radius:5px;}
.modal-dialog-followers {
    margin:30px auto;
}

.followers-link {margin:14px 0 0 0;}

.modal-title {float:left;}
.modal-close-photo {
    color: #222;
    float:right;
    cursor:pointer;
}

.modal-close-default {
    float:right;
    cursor:pointer;
    margin:5px 0 0 0;
}
.modal-close-photo-left {position:absolute; right: 5px; top: 5px;color:#fff;}
.modal-follower-btn {width:100%;border-radius: 3px;}
.modal-follower-btn:focus, .modal-follower-btn:hover {outline:none;}
.modal-body {
    overflow: auto;
    padding:10px;
}
.modal {background:rgba(145, 145, 145, 0.8)}

.modal-content-photo {}

.photo-left-block {text-align:center;}
.photo-left-block {
    background:#121212;
}    
.photo-left-block img {
    width:100%;
    height:100%;
    object-fit:contain;
}

.photo-author-image {width:50px;height:50px;float:left;}

.photo-author-image img {
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:25px;
}

.photo-right-block {
    padding:15px;
}

.photo-description-username {
    font-size:26px;
    margin:0;
}

.photo-description-username a {
    color:#333333;
}
.photo-description-followers {
    color: #AAB1B7;
    font-size:13px;
    margin:0 !important;
}
.photo-author {margin:-15px 0 0 0;}
.photo-author-information {float:left;margin: 0 0 0 10px;}

.photo-author-information .btn-subscribe {
    color: #ffffff;
    background-color: #6295ce;
    border-color: #6295ce;
    padding: 2px 10px !important;
    outline:none;
    margin:9px 0 0 0;
}

.photo-author-information .btn-unsubscribe {
    color: #ffffff;
    background-color: #3fb618;
    border-color: #3fb618;
    padding: 2px 10px !important;
    outline:none;
    margin:9px 0 0 0;
}
.photo-author {padding:0 0 15px 0;border-bottom:1px solid #EAEAEA;}
.photo-information, .photo-share, .photo-details, .photo-edit {
    padding:15px 0;
    border-bottom:1px solid #EAEAEA;
}
.photo-information h1 {font-size:26px;margin:0;}
.photo-information p {white-space: pre-line;margin:5px 0 0 0;}
.photo-edit .btn {
    padding: 6px 15px !important;
}
.add-comment-form input {height:40px !important;}
.comment-avatar {float:left;}

.comment-avatar img {
    width:40px;
    height:40px;
    object-fit:cover;
    border-radius:25px;
}

.comment-block {
    width:calc(100% - 50px);
    float:left;
    margin:0 0 0 10px;
    word-break: break-word;; 
}

.comment-input {
    border-radius:5px;
}

.comment {margin:10px 0;}

.comment-block h1 {
    font-size: 18px;
    font-weight: bold;
    margin:0;
}

.modal-dialog-photos, .modal-content-photo, .modal-body-photo, .photo-left-block {height:100%;}
.photo-right-block {background:#fff;}
.photo-add-comment {margin: 0 0 10px 0;}
.add-comment {padding:15px 0 0 0;}
.comment-block p {margin:0}

.navbar {
}

.photo-complaint {}

.like-btn .glyphicon-heart {font-size:20px;cursor:pointer;position: relative;top: 4px;}
.share-btn .glyphicon-share-alt {font-size:20px;cursor:pointer;position: relative;top: 4px;}
.photo-complaint {margin:10px 0 0 0;}
.like-btn {
    width: 49%;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    color:#fff;
    float:left;
    margin: 0 2% 0 0;
    text-align:center;
    cursor:pointer;
    transition:all 0.5s ease;
}
.like {
    background-color: #6295ce;
    border-color: #6295ce;
}
.like:hover {
    background:#1d63b2;
    border-color: #1d63b2;
}
.like:active {
    background:#2070c9;
    border-color: #2070c9;
}
.unlike {
    background:#980000;
    border-color: #980000;
}
.unlike:hover {
    background: #620101;
    border-color: #620101;
}
.unlike:active {
    background: #780202;
    border-color: #780202;
}
.share-btn {
    width: 49%;
    height: 35px;
    padding: 5px;
    border-color: #1E9E1E;
    background-color: #1E9E1E;
    border-radius: 5px;
    color:#fff;
    float:left;
    text-align:center;
    cursor:pointer;
    transition:all 0.5s ease;
}
.share-btn:focus{outline:none;}
.photo-share {text-align:center;}
.share-btn:hover {background:#177717}
.share-btn:active {background:#1a891a;}
.btn-text {position:relative;top:-2px;margin:0 0 0 5px;}

.share-btns {
    color: #fff;
    font-size: 15px;
    padding:10px;
    display: block;
}
.share-btns:hover {color:#fff;}
.btn-facebook {background:#3b5998;padding: 5px 0 0 11px;}
.btn-twitter {background:#55acee;padding: 5px 0 0 8px;}
.btn-vk {background:#587ea3;padding: 5px 0 0 7px;}

.share-content {display:none;}
.share-btns:hover {
    background:#ebebeb;
}
.share-btns:focus {
    color:#fff;
}
.share-btns .icon {border-radius: 5px;width: 30px;height: 30px;display: inline-block;}
.share-btns .title {color:#333333;display: inline-block;margin:0 0 0 5px;}
.flow-buffer{
    margin-top:10px;
    margin-bottom:10px;
}
.flow-photo {cursor:pointer;position:relative;}
.flow-photo .info {
    height: 75px;
    margin: -75px 0 5px 0;
    position:relative;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    opacity:0;
    transition:all 0.5s ease;
    padding: 14px;
    border-radius:0 0 2px 2px;
}
.flow-photo:hover .info {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity:1;
}
.clear {clear:both}
.info .avatar, .info .description {float:left;}
.flow-photo .info .description {margin: 0 0 0 15px;}
.flow-photo .info .avatar img {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover !important;
    border-radius: 25px !important;
}
.info .description {
    width: calc(100% - 65px);
}
.info .description h1 {
    font-size:21px; 
    color:#fff;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:inherit;
}
.info .description p, .info .description p a {
    color:#fff;
}

.flow-navbar, .flow-navbar-search {border-bottom: 1px solid #eeeff1;}
.flow-navbar {background: #f7f8fa;}
.flow-navbar-search {background:#fff;}

.categories-nav {margin:0;padding:0;}
.categories-nav-flow {text-align:center;}
.categories-nav li {list-style-type:none;display:inline-block;margin:0 15px 0 0;padding:7px;}
.categories-nav li a {color:#787b7e;}
.categories-nav li a:hover {color:#6295ce;}
.categories-nav li.active {border-bottom:2px #6295ce solid;}
.categories-nav li.active a {font-weight:bold;color:#6295ce}

.empty-flow {padding:50px 0;text-align:center;}
.empty-flow .glyphicon {font-size:100px;}

a.upload-photo {color:#fff;padding:8px 10px !important;}
a.upload-photo:focus, a.upload-photo:hover {background:#5684b7 !important;}
a.upload-photo .glyphicon-cloud{font-size:25px;margin:0 5px 0 0;position:relative;top:8px;}
.navbar-nav>li>a {height:52px;}


.footer-lang {font-size:13px;}

.edit-user-container {background:#fff;margin-top:50px;border-radius: 5px;}
.edit-user-container input, .edit-user-container textarea {border-radius:5px;}
.edit-user-body {padding:0 15px 15px 15px;}
.submit-row {padding: 0 15px 15px 15px;}
.edit-wallImage {
    height:250px;
    display: inline-block;
    position: relative;
    width: 100%;
}
.edit-wallImage img {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 5px 5px 0 0;
}
.edit-avatar {
    width:150px;
    height:150px;
    margin:-75px auto 0 auto;
    position: relative;
}
.edit-avatar img {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:75px;
    border:10px #fff solid;
}
.input-title {font-size:17px;color:#6295ce;margin:0 0 5px 0;}
.edit-row {margin: 0 0 10px 0;}
.edit-row>.left, .edit-row>.right {width:49%;float:left;}
.edit-row>.left {margin:0 2% 0 0;}
.edit-user-textarea {
    max-width:100%;
    height:130px !important;
    max-height:130px;
}
.invisible {display:none !important;}

.edit-wallImage-title{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width:100%;
    height:100%;
    color: #fff;
    font-size: 17px;
    text-align: center;
    cursor:pointer;
    transition:all 0.2s ease;
    padding: 100px 0;
    border-radius:5px 5px 0 0;
}
.edit-wallImage-title:hover{
    background: none;
}
.edit-avatar-title {
    background: rgba(0, 0, 0, 0.5);
    position:absolute;
    width:100%;
    height:100%;
    color:#fff;
    font-size:17px;
    text-align:center;
    cursor:pointer;
    transition:all 0.2s ease;
    border-radius: 75px;
    border: 10px #fff solid;
    padding: 50px 0;
}
.edit-avatar-title:hover {background:none;}

.edit-modal>.modal-close {margin:15px;}
.modal-close:hover, .modal-close:active, .modal-close:focus {color:#fff !important;}
.form_error_field ul {margin:0;padding:0;}
.form_error_field ul li {list-style-type: none;}

.forgot-password {text-align:right;}
.forgot-password a {

}

.center {text-align:center;}

.fullwidth {width:100% !important;}
.btn-publish {
    background:#6295ce;
    color:#fff;
}
.btn-publish:hover {background:#6295ce}
.btn-publish:active {background:#6295ce}

.upload-row {
    margin:10px 0 15px 0;
}
.upload-row label {
    color:#6295ce
}

.textarea-description {max-width:100%;height:100px !important;max-height:100px;}

#upload-image, #edit-image {width:100%;height:auto;}
.alert {border-radius: 3px;}

div.btn-upload {text-align:center; margin: 150px 0 0 0;}
div.btn-upload button {width:255px;}
#upload-image {display:none;}
.photo-validation {display:none}
#right-col-upload {display:none}
.brand-beta {
    font-size: 12px;
    position: relative;
    top: -10px;
}

.photo-follow-button {width: 105px;}
.description a {color:#fff !important;}
.left {float:left;}
.right {float:right}
.creation-date  {color:#fff;}
.flow-bottom-buffer {
    padding-bottom: 15px;
}
.loading {
    background:url('../../images/loading.GIF');
    width:32px;
    height:32px;
    margin:0 auto;
    display:none;
}

.user-dropdown {width: 163px !important;}
.alert-blue {background:#6295ce;color:#fff;}
.alert-green {background:#34bf49;color:#fff;}
.jumbotron-welcome {
    border-radius:3px !important;
    margin: 5px 0 !important;
    color:#fff;
    object-fit:cover;
    text-align:center;
}
.jumbotron-welcome-flow {background:url('../../images/flow.png');}
.jumbotron-welcome-photography {background:url('../../images/photography.png');}
.jumbotron-welcome-3d {background:url('../../images/3d.png');}
.jumbotron-welcome-painting {background:url('../../images/painting.png')}

.align-left {text-align:left}
.align-center {text-align:center;}
.align-right {text-align:right;}

.user {display:block;border-radius:3px;margin: 0 0 10px 0;}
.user>.user-wallImage {width:100%;height:135px;}
.user>.user-wallImage img {width:100%;height:100%;object-fit:cover;border-radius:3px 3px 0 0;}
.user>.user-avatar {width:75px;height:75px;margin: -39px auto 0 auto;}
.user>.user-avatar img {width:75px;height:75px;object-fit:cover;border-radius:100px;border: 5px solid #fff}
.user>.user-info {
    height:163px;
    margin:-39px 0 0 0;
    background:#fff;
    padding:15px;
    text-align:center;
}
.user>.user-info a {font-size: 28px;color:#616568;margin:15px 0 5px 0;word-wrap: break-word;font-weight:normal;display:block}
.p-follower {margin: 10px 0 0 0;}
.col-3-padding {padding-left:5px !important;padding-right:5px !important;}
.user-followers {color:#787b7e}
.search-photos-nav, .search-users-nav {cursor:pointer;}
.heading-wrap {text-align:center;padding:25px 0;}
.heading-wrap h1 {font-size:45px;}
.heading-wrap .lead {font-size:25px;}
.flow-tabs-wrap .flow-tabs-nav {
    border-bottom:1px solid #ebebeb;
    margin-bottom: 10px;
}
.flow-tabs-nav .nav-tabs {display: inline-block;}
.flow-tabs-nav a {
    background:none !important;
    color:grey !important;
    font-size: 20px !important;
}
.flow-tabs-nav .active a {
    color:#6295ce !important;
}
.flow-tabs-nav a:hover {
    background:none !important;
    color:#019dea !important;
}
.flow-tabs-nav a:focus {
    background:none !important;
    color:#019dea !important;
    border-bottom:2px solid #019dea;
}
.emptyFlowWarning {margin: 15px 0 5px 0 !important;}

.padding-wrapper {padding:0 7px 0 7px}
.terms {word-wrap:break-all;}
.terms ul {margin: 0 0 0 35px;}
.terms ul li {list-style-type: disc}

.user-dropdown {width:100% !important;}

.navbar-nav {margin: 0 -15px !important;}
.navbar-form {padding:0 !important;}
.navbar-nav>li>a {}
.navbar-form .form-group {padding:0 5px;}
.dropdown-profile, .user-dropdown {text-align:center;}
.navbar-nav {position:relative;z-index:1030;}
.dropdown-profile:hover, .dropdown-profile:focus, .dropdown-profile:active {background:inherit !important;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a  {background:#6295ce;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover  {background:#5684b7}
.profile-edit-small {display:none;}

#col-left .upload-input {width:250px;}
#col-right .upload-input {width:100%;}
#upload-image {margin: 0 0 15px 0;}
#col-left .upload-input {margin:150px auto 0 auto;} 

.photo-pending {
    background: #FFA500;
    border-radius: 3px 3px 0 0;
    position: absolute;
    width: 100%;
    padding: 10px 15px 6px 15px;
    color:#fff;
}

.float-left {float:left}
.float-right {float:right}

.pending-icon {font-size:20px;}

.photo-delete {color:#6295ce;cursor:pointer;transition:all 0.5s ease;margin:0 0 0 10px;}
.photo-delete:hover {color:#1d63b2}

.confirmation-modal {display:block !important;}

.sub-categories {text-align:center;}

.btn-subcategory {margin:0 0 5px 0;}

.navbar-brand-index {padding:8px !important;}
.navbar-brand-index img {width:180px;height:auto;}

.comment-submit {margin-right:10px;cursor:pointer;}
.header-form-group {margin:6px 0 0 0;}
.header-form-group input {height:30px !important;}

.navbar-activity {
    padding: 10px 10px 7px 10px;
    font-size: 25px;
    color:#fff;
    position:relative;
}
.navbar-activity:hover, .navbar-activity:focus {background:#5684b7 !important;}
.new-activity {
    background: red;
    font-size: 13px;
    color: #fff;
    width:20px;
    height:20px;
    border-radius:20px;
    position:absolute;
    top:5px;
    right:5px;
    text-align:center;
}

.header-activity-dropdown {
    background:#fff;
    border:2px solid #f1f1f1;
    border-radius:5px !important;
    width: 400px;
    margin:6px 0 0 0 !important;
    padding: 0 !important;
    right: -40px !important;
}

.header-activity-dropdown::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 50px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f1f1f1;
    z-index:1000;
}   

.activity-header {
    border-bottom: 1px solid #f1f1f1;
}
.activity-header h1 {
    color:#787b7e;
    font-size:18px;
    text-transform: uppercase;
    font-weight:bold;
    margin:0 !Important;
    padding:15px;
}
.activity {
    padding:5px;
    border-bottom:1px solid #f1f1f1;
}
.activity .activity-avatar img, .activity .activity-src img {
    width:50px;
    height:50px;
    vertical-align:baseline;
    border-radius:25px;
    object-fit: cover;
}
.activity-icon {cursor:pointer;}
.activity-avatar {float:left;}
.activity-src {float:right;}
.activity .activity-content {color:#787b7e;margin:0 65px;}
.activity-body {height:290px;overflow:auto;}

.container-offset {margin:0 25px;}

.function h1 {font-size:32px;}
.function p {font-size:18px;}
.functions-icon {text-align:center;}
.functions-icon i {
    font-size:60px;
    color:#019dea;
}
.body-security {
    padding:70px 0;
}
.security-wrapper {
    width:400px;
    margin:0 auto;
    padding:25px;
    background:#fff;
}
.security-wrapper h1 {margin:0 0 15px 0;padding:0;font-size:30px;text-align:center;}
.security-title {font-size:26px;font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;font-weight:400;}
.btn-full {width:100%;} 
.btn-blue {background:#598ac2 !important;border-color:#598ac2}
.btn-blue:hover {background:#527eae;border-color:#527eae}
.btn-blue:active {background:#527eae !important;border-color:#527eae !important}
.btn-blue:focus {background:#527eae;border-color:#527eae}