<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}EmotionFolio – {% block page_title %}{% endblock %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/admin/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/admin/metisMenu.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/admin/timeline.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/admin/sb-admin-2.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/admin/morris.css') }}" />
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('admin') }}">EmotionFolio — Панель управления</a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> {{ app.user.getUsername }}</a></li>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                            </li>
                            <li><a href="{{ path('admin') }}"><i class="fa fa-bar-chart fa-fw"></i> Cтатистика</a></li>
                            <li>
                                <a href="{{ path('admin_moderation') }}"><i class="fa fa-photo fa-fw"></i> Модерация</a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        {% if is_granted('ROLE_SUPER_MODERATOR') %}<a href="{{ path('admin_moderation') }}"><i class="fa fa-long-arrow-right"></i> Все категории</a>{% endif %}
                                    </li>
                                    <li>
                                        {% if is_granted('ROLE_MODERATOR_PHOTOGRAPHY')%}<a href="{{ path('admin_moderation_photography') }}"><i class="fa fa-long-arrow-right"></i> Фотографии</a>{% endif %}
                                    </li>
                                    <li>
                                        {% if is_granted('ROLE_MODERATOR_3D') %}<a href="{{ path('admin_moderation_painting') }}"><i class="fa fa-long-arrow-right"></i> Живопись</a>{% endif %}
                                    </li>
                                    <li>
                                        {% if is_granted('ROLE_MODERATOR_3D') %}<a href="{{ path('admin_moderation_3d') }}"><i class="fa fa-long-arrow-right"></i> 3D</a>{% endif %}
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{{ path('admin_pages') }}"><i class="fa fa-file fa-fw"></i> Страницы</a></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}<li><a href="{{ path('admin_mailing') }}"><i class="fa fa-envelope fa-fw"></i> Сделать рассылку</a></li>{% endif %}
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/admin/metisMenu.min.js') }}"></script>
        <script src="{{ asset('js/admin/raphael-min.js') }}"></script>
        <script src="{{ asset('js/admin/morris.min.js') }}"></script>
        <script src="{{ asset('js/admin/morris-data.js') }}"></script>
        <script src="{{ asset('js/admin/sb-admin-2.js') }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
