{% extends 'AdminBundle::base.html.twig' %}
{% block page_title %}Редактирование фотографии{% endblock %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Редактирование фотографии</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <img class="edit-photo" src="{{ photo.getImage }}" />
            <div class="dataTable_wrapper">
                {{ form_start(form, {'action': path('admin_photo_edit', { photoId: photo.getId }), 'method': 'POST', 'class': 'form-horizontal'}) }}
                    <div class="form-group">
                        <label for="inputTitle">{{ 'photo.title' | trans }}</label>
                        {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'id' : 'inputTitle', 'placeholder' : 'photo.title.placeholder' | trans } }) }}
                    </div>
                    <div class="form-group">
                        <label for="inputCategory">{{ 'photo.category' | trans }}</label>
                        {{ form_widget(form.category, { 'attr': {'class': 'form-control', 'id' : 'inputCategory' } }) }}
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">{{ 'photo.description' | trans }}</label>
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control textarea-description', 'id' : 'inputDescription' } }) }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn fullwidth btn-publish" value="{{ 'save' | trans }}" />
                    </div>
                    {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

