{% extends 'AdminBundle::base.html.twig' %}
{% block page_title %}Редактировать страницу{% endblock %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Создать страницу</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="dataTable_wrapper">
                {{ form_start(form, {'action': path('admin_page_edit', { pageId: page.getId }), 'method': 'POST'}) }}
                    <div class="form-group">
                        <label>Заголовок</label>
                        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                        <p class="help-block">Назовите свою страницу.</p>
                    </div>
                    <div class="form-group">
                        <label>Slug</label>
                        {{ form_widget(form.slug, { 'attr': {'class': 'form-control', 'placeholder' : 'Slug', 'autocomplete' : 'off'} }) }}
                        <p class="help-block">http://emotionfolio.com/page/{slug}</p>
                    </div>
                    <div class="form-group">
                        <label>Статус</label>
                        {{ form_widget(form.isActive, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label>Содержание</label>
                        {{ form_widget(form.content, { 'attr': {'class': 'form-control content'} }) }}
                    </div>
                    <div class="form-group">
                        <br /><input class="btn btn-success" type="submit" value="Изменить" />
                    </div>
                    {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
                {{ form_end(form) }}
            </div>                         
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script>
    tinymce.init({
        selector: '.content',
        forced_root_block: false,
        height: 500,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
          '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
          '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>
{% endblock %}