{% extends 'AdminBundle::base.html.twig' %}
{% block page_title %}Статистика{% endblock %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Статистика</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-photo fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ allTimePhotos | length }}</div>
                            <div>Фотографий за все время</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ allTimeUsers | length }}</div>
                            <div>Пользователей за все время</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer"></div>
                </a>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ allTimeComments | length }}</div>
                            <div>Комментариев за все время</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="float-left">Активные пользователи</div>
                    <div class="float-right text-align-right">
                        <b>вчера</b></br>
                        <b>за последний месяц</b>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="users-dau"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="float-left">Новые пользователи</div>
                    <div class="float-right text-align-right">
                        <b>вчера</b></br>
                        <b>за последний месяц</b>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="new-users"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="float-left">Новые фотографии</div>
                    <div class="float-right text-align-right">
                        <b>вчера</b></br>
                        <b>за последний месяц</b>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="new-photos"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="float-left">Новые комментарии</div>
                    <div class="float-right text-align-right">
                        <b>вчера</b></br>
                        <b>за последний месяц</b>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="new-comments"></div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
    new Morris.Line({
        element: 'users-dau',
        data: [
          { year: '2008', value: 20 },
          { year: '2009', value: 10 },
          { year: '2010', value: 5 },
          { year: '2011', value: 5 },
          { year: '2012', value: 20 }
        ],
        xkey: 'year',
        ykeys: ['value'],
        labels: ['Value']
    });
    
    new Morris.Line({
        element: 'new-users',
        data: [
          { year: '2008', value: 20 },
          { year: '2009', value: 10 },
          { year: '2010', value: 5 },
          { year: '2011', value: 5 },
          { year: '2012', value: 20 }
        ],
        xkey: 'year',
        ykeys: ['value'],
        labels: ['Value']
    });
    
    new Morris.Line({
        element: 'new-photos',
        data: [
          { year: '2008', value: 20 },
          { year: '2009', value: 10 },
          { year: '2010', value: 5 },
          { year: '2011', value: 5 },
          { year: '2012', value: 20 }
        ],
        xkey: 'year',
        ykeys: ['value'],
        labels: ['Value']
    });
    
    new Morris.Line({
        element: 'new-comments',
        data: [
          { year: '2008', value: 20 },
          { year: '2009', value: 10 },
          { year: '2010', value: 5 },
          { year: '2011', value: 5 },
          { year: '2012', value: 20 }
        ],
        xkey: 'year',
        ykeys: ['value'],
        labels: ['Value']
    });
    </script>
{% endblock %}
