{% extends 'AdminBundle::base.html.twig' %}
{% block page_title %}Модерация фотографий{% endblock %}
{% block body %}
<div id="rejectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Причина отказа</h4>
            </div>
            <div class="modal-body">
                <p>Укажите причину отказа</p>
                <div class="form-group">
                    <input id="rejectReason" type="text" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="reject-btn" type="button" class="btn btn-default">Отказать</button>
            </div>
        </div>
    </div>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Модерация фотографий</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% for photo in photos %}
            <div id="{{ photo.getId }}" class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-file-image-o"></i> {{ photo.getTitle }} от <a href="{{ path('profile', {'username' : photo.getUser.getUsername }) }}">{{ photo.getUser.getUsername }}</a>
                    <div class="pull-right">
                        {{ photo.getCategory.getName | trans }}
                        {{ photo.getCreationDate|time_diff }}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Действия
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a class="accept green" href="#">Принять</a></li>
                                <li><a class="decline red" href="#">Отказать</a></li>
                                <li><a class="blue" href="{{ path('admin_photo_edit', {'photoId' : photo.getId }) }}">Редактировать</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body moderation">
                    <img id="{{ photo.getId }}" src="{{ photo.getImage }}" alt="{{ photo.getTitle }} - {{ photo.getDescription }}" />
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
        function moderate(photoId, action, panel, rejectReason = null) {
            var url = '{{ path('admin_moderate', {'photoId' : 'photoId' }) }}';
            
            url = url.replace('photoId', photoId);

            $.ajax({
                type: 'POST',
                url: url,
                data: { action: action, rejectReason: rejectReason },
                success: function(response){
                    if(response == 'success') {
                        $(panel).fadeOut();
                    }
                    else {
                        alert(response);
                    }
                }
            });
        }
        
        $('.accept, .decline').click(function(e) {
           e.preventDefault();
           var photoId = $(this).parent().parent().parent().parent().parent().parent().attr('id'),
               action = null,
               panel = $(this).parent().parent().parent().parent().parent().parent(),
               rejectReason = null;
           
           if($(this).hasClass('accept')) {
               action = 'accept';
               
               moderate(photoId, action, panel); 
           }
           else {
               action = 'decline';
               
               $('#rejectModal').modal();
               
               $('.reject-btn').click(function() {
                   $('#rejectModal').modal('hide');
                   rejectReason = $('#rejectReason').val();
                   
                   moderate(photoId, action, panel, rejectReason);
                   
                   $('#rejectReason').val('');
               });    
           }
           
           
        });
    </script>
{% endblock %}
