{% extends 'AdminBundle::base.html.twig' %}
{% block page_title %}Страницы{% endblock %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Страницы</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="dataTable_wrapper">
                <div class="align-right margin-bottom-md">
                    <a href="{{ path('admin_page_create') }}" class="btn btn-success">Создать страницу</a>
                </div>
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>slug</th>
                            <th>Заголовок</th>
                            <th>Дата создания</th>
                            <th>Статус</th>
                            <th>Операции</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in pages %}
                            <tr class="odd gradeX">
                                <td>{{ page.getId }}</td>
                                <td>{{ page.getSlug }}</td>
                                <td>{{ page.getTitle }}</td>
                                <td>{{ page.getCreationDate | date('d-m-Y') }}</td>
                                <td>
                                    {% if page.getIsActive == false %}
                                        Неактивный
                                    {% else %}
                                        Активный
                                    {% endif %}
                                </td>
                                <td align="center"><a href="{{ path('page', { slug: page.getSlug }) }}" target="_blank"><i class="fa fa-eye btn-view"></i></a> <a href="{{ path('admin_page_edit', { 'pageId': page.getId }) }}"><i class="fa fa-pencil btn-edit"></i></a> <a href="{{ path('admin_page_delete', { 'pageId': page.getId }) }}"><i class="fa fa-trash btn-delete"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}