body {font-family: 'Lato', sans-serif;}
.body {margin:0 0 38px 0;}
a:hover{text-decoration:none;}
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

.clear {clear:both}
.nopadding {padding:0;}
.nomargin {margin:0}

.btn, input, textarea, select {border-radius:25px !important;outline:none !important;box-shadow:none !important;}
textarea {max-width:100%;}
.transparent-input, .transparent-input:hover, .transparent-input:focus, .transparent-input:active {background:rgba(0,0,0,0.2);border:2px solid #fff;color:#fff !important;}
.transparent-input::-moz-placeholder {color: #fff !important;}
.transparent-input::-webkit-input-placeholder {color: #fff !important;}

#welcome {
    background:url('../../images/mobile-index.jpg') no-repeat center center;
    background-size:cover;
}

#login {
    background:url('../../images/mobile-auth.jpg') no-repeat center center;
    background-size:cover;
}

.emotionfolio-logo {
    margin:15px 0 5px 0;
    font-size: 30px;
    color:#fff;
}
.emotionfolio-slogan {
    font-size: 21px;
    color:#fff;
    text-transform:uppercase;
}

.center {text-align:center;}

.welcome-bottom {color:#fff;margin:75px 0 15px 0;}

.welcome-heading {font-weight:700;}
.welcome-slogan {font-size:13px;}

.btn-full {width:100%;}
.btn-margin {margin:12px 0 0 0;}

#popular {text-align:center;}
.popular-tabs-nav .nav-tabs>li>a {background:none;color:#979797;padding:5px 15px;}
.nav-tabs>.active {border-bottom:2px solid #2780e3}
.nav-tabs>.active>a {color:#2780e3 !important;}
.nav-tabs>li {float:none !important;display:inline-block;text-align:center;}
.tab-image img {width:100%;height:auto;}

.index-flow {background:#f1f1f1;}
.white-flow {background:#fff;}

.one-column {column-count: 1;}
.two-column {column-count: 2;}

.masonry-layout {
  column-gap: 0;
  padding: 5px 5px 0 0;
}
.masonry-layout__panel {
  break-inside: avoid;
}
.masonry-layout__panel-content {
    padding: 0 0 5px 5px;
    position:relative;
}

.masonry-layout__panel-content>a>img {width:100%;height:auto;border-radius:2px 2px 0 0;}

.info, .grey-info {border-radius:0 0 2px 2px;text-align:left;padding:7px;}
.info {background:#fff;}
.grey-info {background:#f1f1f1;}
.info h1, .grey-info h1 {margin:0;font-weight:700;font-size:20px;color:#333333}
.description>.likes, .description>.comments {font-size:20px;float:left;color:#979797 !important;}
.description>.comments a {color:#979797 !important;}
.share {font-size:17px;float:right;color:#2780e3;}
.likes-count, .comments-count {margin: 0 0 0 5px;}
.description>.comments {margin:0 0 0 15px;}
.avatar, .username {float:left;}
.author {margin:5px 0 0 0;padding:5px 0 0 0;border-top:1px solid #e5e5e5;font-size:11px;}
.author>.avatar{width:30px;height:30px;}
.author>.avatar>a>img {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    border-radius: 15px;
    object-fit: cover;
}
.username {
    margin: 3px 0 0 10px;
    font-size: 15px;
}
.username>a {color:#333333;font-weight:700;}

.footer {background:#fff;text-align:center;font-size:11px;}

.blue {color:#2780e3 !important;}
.white {color:#fff !important;}

.login-margin {margin:25px 0 0 0;}
.checkEmail-margin {margin:50px 0 0 0;}
.checkEmail-btn-margin {margin:0 0 12px 0}

p.sign-up {color:#fff;}
p.sign-up>a {font-weight:700;color:#fff;}
p.login a {color:#fff !important;text-transform:uppercase;}

.has-error div input {border:2px solid red !important;}

.navbar-blue {background:#2780e3;}
.jumbotron {height:150px;margin:0;position:relative;color:#fff;padding:0;}
.jumbotron-content {position:absolute;width:100%;top:10px;left:0;text-align:center;padding:25px 0;}
.jumbotron h1 {font-size:25px !important;font-weight:700 !important;margin:0;}
.jumbotron p {font-size:17px;}
.jumbotron img {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    object-fit: cover;
}
.alert {border-radius:2px;margin:0;}
.alert-block {padding:5px 5px 0 5px;}
.alert p {font-size:10px !important;}
.alert h4 {font-size:13px;font-weight:700;margin:0 0 5px 0;}

button.close {top:-5px !important;font-size:15px;}

.footer-nav {
    background:#f1f1f1;
    width:100%;
    height:50px;
    position:fixed;
    bottom:0;
    border-top:1px solid #e5e5e5;
    font-size:25px;
    text-align:center;
    padding: 7px 0 0 0;
}
.footer-nav .zmdi:first-child{margin:0 5% 0 5%;}
.footer-nav .zmdi{margin:0 6% 0 0;font-weight:100;}
.footer-nav a {color:#333333}
.footer-nav .zmdi .active {color:#2780e3}
.footer-nav a i {font-size:30px;}
.navbar {min-height:40px !important;height:40px !important;}

.categories-nav {
    margin:0;
    padding:0;
    list-style-type:none;
    padding: 7px 0 0 0;
    width: 138px;
    margin: 0 auto;
}
.categories-nav>li>a {color:#fff !important;text-decoration:none;font-size:18px !important;}
.categories-nav>li>a span {margin:0 0 0 5px;}
.dropdown-menu {
    text-align:center !important;
    background:#fff !important;
    padding:0 !important;
    min-width:138px !important;
}

#header-dropdown-menu>li>a {background:#fff;color:#2780e3 !important;}
#header-dropdown-menu>li>a:hover {background:#fff;color:#2780e3 !important;}

.photo-wrapper img {width:100%;height:auto;}

.comments-b {padding:5px;}

.header-settings, .profile-header-settings {text-align:right;}
.header-settings {padding-top:6px;font-size:20px !important;}
.profile-header-settings {padding-top:7px;}
.header-settings a {color:#fff;}

.heading {margin:0;font-size:13px;font-weight:700;padding:11px 0;}

.chevron {font-size:26px;color:#333333;}
.page-heading {border-bottom: 1px solid #e5e5e5;}

.settings {background:#f1f1f1;}
.setting-title {padding:5px;}
.setting-title h1 {font-size:16px;font-weight:700;color :#777777;margin:5px 0 0 0;}

.settings-list {background:#fff;}
.settings-single {margin:5px 0;}
.settings-single a {font-size:15px;color:#333;text-decoration:none;padding:0 10px;}
.settings-list {border-top:1px solid #e5e5e5;}

.body-content{margin: 0 0 38px 0;}

.empty-flow {padding:25px 0;;text-align:center;}
.empty-flow .glyphicon {font-size:50px;}
.empty-flow h3 {margin:0;font-size:13px;font-weight:700;}
.page-margin {padding-top:15px;padding-bottom:38px;}
.padding-lg {padding-top:50px;padding-bottom:50px;}

.zmdi-favorite, .zmdi-comment-text, .share {cursor: pointer;}
.like {color:#979797;}
.unlike {color:#b90d0d;}

.padding-footer {padding-bottom:60px;}

.profile-wall {
    width:100%;
    height:300px;
    position:relative;
}
.profile-wall img {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    object-fit: cover;
}

.profile-author {
    width:100%;
    position:absolute;
    top:275px;
    padding:0 15px;
}

.profile-author-without-header {
    width:100%;
    position:absolute;
    top:235px;
    padding:0 15px;
}

.profile-avatar {
    width:50px;
    height:50px;
    float:left;
}
.profile-avatar-edit {
    width:175px;
    height:175px;
    margin:0 auto;
    position:relative;
    top:-90px;
}
.profile-avatar-edit img {border-radius:175px;border:10px solid #fff;}
.profile-avatar img {border-radius:50px;border:1px solid #fff;}
.profile-avatar img, .profile-avatar-edit img {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    object-fit: cover;
}
.profile-info {float:left;margin:0 0 0 15px;}
.profile-info h1 {margin:0;color:#fff;font-weight:700;font-size:18px;}
.profile-info .author-desc {font-size:11px;color:#fff;}

.photos-count, .followers-count {margin:0 10px 0 0;}
.photos-count, .followers-count {color:#fff;float:left;font-size:11px;}
.photos-count i, .followers-count i {margin:0 5px 0 0;}

.profile-subscribe {float:right;margin:23px 0 0 0;}
.location {color:#fff;font-size:11px;float:left;}
.location i {margin:0 5px 0 0;}
.btn-sub {padding:5px 10px;font-size:11px;}

.heading {text-transform:uppercase;}
.add-comment{width:100%;border-top:1px solid #e5e5e5;position:fixed;bottom:0;}
.comment-input {border-radius:0 !important;border:none !important;}

.comment {padding:15px 0;border-bottom:1px solid #e5e5e5}
.comment-avatar {width:25px;height:25px;float:left;}
.comment-username {float:left;margin:0 0 0 15px;}
.comment-avatar img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:50px;
    vertical-align: baseline;
}
.comment-creation-date {float:right;text-align:right;font-size:8px;margin:7px 0 0 0;}
.comment-content {margin:10px 0 0 0;}
.upload-wrapper {background:#f1f1f1;padding:25px 0;}
.upload-btn {
    width:150px;
    height:150px;
    margin:0 auto;
    border-radius:75px;
    border:1px solid #777777;
    color:#777777;
    padding:57px 0 0 57px;
    cursor:pointer;
}
.upload-btn i {font-size:40px;}
.upload-desc {color:#777777;font-size:11px;margin:5px 0;}
.upload-input {display:none;}
#uploaded-image {width:100%;height:auto;display:none;}
.photo-info {padding:10px;}
.photo-info>* {margin:0 0 10px 0;}
.photo-pending {
    width:99%;
    position:absolute;
    background: #FFA500;
    font-size:7px;
    border-radius:2px 2px 0 0;
}
.photo-pending-text {padding:5px;}
.float-right {float:right;}

.activity {padding:15px;border-bottom:1px solid #f1f1f1}
.activity-avatar {float:left;}
.activity-src {float:right;}
.activity-avatar, .activity-src {width:40px;height:40px;}
.activity-content {margin:0 55px 0 55px;}
.activity-avatar img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:50px;
    vertical-align: baseline;
}
.activity-content {font-size:12px;}

.activity-src img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:50px;
    vertical-align: baseline;
}

.btn-unsubscribe, .btn-subscribe {
    padding:2px 15px !important;
    border-radius:5px !important;
}
.author-subscribe {
    position: absolute;
    right: 15px;
    top: 15px;
}
.author-subscribe button {width:125px;}
.input-row input, .input-row select, .input-row textarea {border-radius:5px !important;}
.edit-row {margin:15px 0;}
.padding-input-left {padding:0 7px 0 0 !important}
.padding-input-right {padding:0 0 0 7px !important;}
.profile-wall-input, .avatar-input {display:none;}

.edit-wallImage-title{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width:100%;
    height:100%;
    color: #fff;
    font-size: 17px;
    text-align: center;
    cursor:pointer;
    transition:all 0.2s ease;
    padding: 130px 0;
    border-radius:5px 5px 0 0;
    top: 0;
}
.edit-wallImage-title:hover{
    background: none;
}
.edit-user-body {margin:-90px 0 45px 0;}

.edit-avatar-title {
    background: rgba(0, 0, 0, 0.5);
    position:absolute;
    width:100%;
    height:100%;
    color:#fff;
    font-size:17px;
    text-align:center;
    cursor:pointer;
    transition:all 0.2s ease;
    border-radius: 175px;
    border: 10px #fff solid;
    padding: 65px 0;
    top:0;
}
.edit-avatar-title:hover {background:none;}

.search-form {position:relative;}
.search-form .zmdi-search {position:absolute;top:0;font-size:26px;padding: 7px 20px;color:#777777;}
.search-form .zmdi-close {position:absolute;top:0;right:0;font-size:21px;padding: 13px 20px;color:#777777;}
.search-form input {border:none;list-style-type: none;padding: 0 50px;}

.zmdi-close {cursor:pointer;}

.search-navbar {
    width:50%;
    float:left;
    text-align:center;
    color:#777777;
    border-bottom:2px solid #fff;
    cursor:pointer;
}

.search-navbar-content {
    padding:15px;
}

.search-navbar-active {border-bottom:2px solid #2780e3;color:#2780e3}

.flowUser {padding:15px;}
.flowUser-avatar {
    width:75px;
    height:75px;
    float:left;
}
.flowUser-avatar img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:50px;
    vertical-align: baseline;
}
.flowUser-info {float:left;padding:10px;}
.flowUser-subscribe {
    float:right;
}
.flowUser-info h1 {margin:0;font-size:21px;}
.flowUser-info h1 a {color:#333333;text-decoration:none;}
.flowUser-photos-count {margin:10px 15px 0 0;}
.flowUser-followers-count {margin:10px 0 0 0;}
.flowUser-photos-count, .flowUser-followers-count {float:left;color:#777777;}
.flowUser-photos-count i, .flowUser-followers-count i {margin: 0 5px 0 0;}
.flowUser-subscribe {margin: 25px 0 0 0;}
.flowUser-btn-subscribe {
    width:30px;
    height:30px;
    border:1px solid #2780e3;
    color:#2780e3;
    border-radius: 50px !important;
    padding: 4px 7px !important;
    cursor:pointer;
}
.flowUser-btn-unsubscribe {
    width:30px;
    height:30px;
    border:1px solid #3fb618;
    background:#3fb618;
    color:#fff;
    border-radius: 50px !important;
    padding: 4px 7px !important;
    cursor:pointer;
}
#users-content {display:none;}

.loading {
    background:url('../../images/loading.GIF');
    width:32px;
    height:32px;
    margin: 5px auto 60px auto;
    display:none;
}

.changePasswordWrapper {height: 60vh;}
.indexWrapper {height: 60vh;}

.btn-profile-upload {border-radius:5px !important;padding:5px 15px;margin:5px 0 0 0}

.pageWrapper {padding:0 20px;}
.pageWrapper h1, h2 {font-size:20px;font-weight:700;}

.profileLikes, .profileComments {font-size:13px !important;}

.comment-submit {padding:10px 0;color:#2780e3;font-weight:700;text-align:right;}
.delete-comment {color:#2780e3;float:right;}
.new-activity {
    background: red;
    font-size: 13px;
    color: #fff;
    width:20px;
    height:20px;
    border-radius:20px;
    display:inline-block;
    position:relative;
    top:-15px;
    left:35px;
}

.activity-date {color:#777};