{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'account.confirmation.title' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"><a class="chevron" href="{{ path('index') }}"><i class="zmdi zmdi-chevron-left"></i></a></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'account.confirmation.title' | trans }}</h1>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="container-fluid settings">
        <p align="center">{{ 'account.confirmation.description' | trans }}</p>
    </div>
{% endblock body %}