{% extends 'AppBundle:Mobile:base.html.twig' %}
{% block page_title %}{{ 'account.register' | trans }}{% endblock %}
{% block body %}
    <section id="login" class="container-fluid center">
        <div class="col-xs-12">
            <div class="emotionfolio-logo">EmotionFolio</div>
            <div class="emotionfolio-slogan">{{ 'account.register' | trans }}</div>
        </div>
        <div class="col-xs-12 login-margin">
            <form action="{{ path('fos_user_registration_register') }}" method="POST" class="form-horizontal fos_user_registration_register">
                <fieldset>
                    <div class="form-group {% if form_errors(form.username) %}has-error {% endif %}">
                        <div class="col-xs-12">
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control transparent-input ', 'id' : 'inputLogin', 'placeholder' : 'account.username' | trans } }) }}
                        </div>
                    </div>
                    <div class="form-group {% if form_errors(form.plainPassword) %}has-error {% endif %}">
                        <div class="col-xs-12">
                            {{ form_widget(form.plainPassword, { 'attr': {'class': 'form-control transparent-input', 'id' : 'inputPassword', 'placeholder' : 'account.password' | trans } }) }}
                        </div>
                    </div>
                    <div class="form-group {% if form_errors(form.email) %}has-error{% endif %}">
                        <div class="col-xs-12">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control transparent-input', 'id' : 'inputEmail', 'placeholder' : 'account.email' | trans } }) }}
                        </div>
                    </div>
                    {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="btn btn-primary btn-full" type="submit" value="{{ 'account.register' | trans }}" />
                        </div>
                    </div>
                </fieldset>
            </form>
            <p class="sign-up">{{ 'account.have.account' | trans }} <a href="{{ path('fos_user_security_login') }}">{{ 'account.have.account.sign.in' | trans }}</a></p>
        </div>
    </section>
{% endblock %}