{% extends "AppBundle:Main:base.html.twig" %}
{% block page_title %}{{ 'account.log.in' | trans }}{% endblock %}
{% block body %}
<div class="body-security">
    <div class="security-wrapper">
        {% if error %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <h1>{{ 'account.log.in' | trans }}</h1>
        <form action="{{ path("fos_user_security_check") }}" method="POST" class="form-horizontal fos_user_registration_register">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <fieldset>
              <div class="form-group">
                <label for="inputPassword" class="col-lg-12">{{ 'account.username' | trans }}</label>
                <div class="col-lg-12">
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" placeholder="{{ 'account.username' | trans }}" required="required" />
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-lg-6">{{ 'account.password' | trans }}</label>
                <div class="col-lg-6 align-right"><a href="{{ path('fos_user_resetting_request') }}">{{ 'account.forgot.password' | trans }}</a></div>
                <div class="col-lg-12">
                    <input type="password" id="password" class="form-control" name="_password" placeholder="{{ 'account.password' | trans }}" required="required" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12">
                  <input class="btn btn-default btn-blue btn-full" type="submit" id="_submit" name="_submit" value="{{ 'account.log.in' | trans }}" />
                </div>
              </div>
               <p class="sign-up align-center">{{ 'account.forgot.password' | trans }} <a href="{{ path('fos_user_resetting_request') }}">{{ 'account.forgot.password.recover' | trans }}</a></p>
            </fieldset>
        </form>
    </div>
</div>
{% endblock body %}
