{% extends 'AppBundle:Main:base.html.twig' %}
{% block page_title %}{{ 'account.confirmation.title' | trans }}{% endblock %}
{% block body %}
<div class="body-content">
    <div class="container top-bottom-padding3">
        <h1 align="center">{{ 'account.confirmation.title' | trans }}</h1>
        <p align="center">{{ 'account.confirmation.description' | trans }}</p>
    </div>
</div>
{% endblock body %}