{% extends 'AppBundle:Mobile:base.html.twig' %}
{% block page_title %}{{ 'account.sign.in' | trans }}{% endblock %}
{% block body %}
    <section id="login" class="container-fluid center">
        <div class="col-xs-12">
            <div class="emotionfolio-logo">EmotionFolio</div>
            <div class="emotionfolio-slogan">{{ 'account.sign.in' | trans }}</div>
        </div>
        <div class="col-xs-12 login-margin">
            <form action="{{ path("fos_user_security_check") }}" method="POST" class="form-horizontal fos_user_registration_register">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <fieldset>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" id="username" class="form-control transparent-input" autocomplete="off" name="_username" value="{{ last_username }}" placeholder="{{ 'account.username' | trans }}" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="password" id="password" class="form-control transparent-input" name="_password" placeholder="{{ 'account.password' | trans }}" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                        <input class="btn btn-primary btn-full" type="submit" id="_submit" name="_submit" value="{{ 'account.log.in' | trans }}" />
                        </div>
                    </div>
                </fieldset>
            </form>
            <p class="sign-up">{{ 'account.no.account' | trans }} <a href="{{ path('fos_user_registration_register') }}">{{ 'account.no.account.register' | trans }}</a></p>
            <p class="sign-up">{{ 'account.forgot.password' | trans }} <a href="{{ path('fos_user_resetting_request') }}">{{ 'account.forgot.password.recover' | trans }}</a></p>
        </div>
    </section>
{% endblock %}