{% extends 'AppBundle:Mobile:base.html.twig' %}
{% block page_title %}{{ 'title.check.email' | trans }}{% endblock %}
{% block body %}
<div class="body-content">
    <div class="container top-bottom-padding3">
        <div class="row">
            <h1 align="center">{{ 'account.resetting.check.email.title' | trans }}</h1>
            <p align="center">{{ 'account.resetting.check.email'| trans }}</p>
        </div>
    </div>
</div>
{% endblock body %}