{% extends 'AppBundle:Mobile:base.html.twig' %}
{% block page_title %}{{ 'account.change.password' | trans }}{% endblock %}
{% block body %}
    <section id="login" class="container-fluid center changePasswordWrapper">
        <div class="col-xs-12">
            <div class="emotionfolio-logo">EmotionFolio</div>
            <div class="emotionfolio-slogan">{{ 'account.change.password' | trans }}</div>
        </div>
        {% if invalid_username is defined %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>          
        </div>
        {% endif %}
        <div class="col-xs-12 login-margin">
            <form action="{{ path('fos_user_resetting_send_email') }}"  method="POST" class="form-horizontal fos_user_resetting_request">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" id="username" class="form-control transparent-input" name="username" placeholder="{{ 'account.username' | trans }}" required="required" />
                    </div>
                </div>    
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="btn btn-primary btn-full" type="submit" value="{{ 'account.change.password' | trans}}" />
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}