{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'title.password.already.requested' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-1"><a class="chevron" href="{{ path('index') }}"><i class="zmdi zmdi-chevron-left"></i></a></div>
        <div class="col-xs-10">
            <h1 class="heading" align="center">{{ 'title.password.already.requested' | trans }}</h1>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="container-fluid settings">
        <p align="center">{{ 'resetting.password_already_requested' | trans({ '%link%' : path('index')}) | raw }}</p>
    </div>
{% endblock body %}