{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'account.change.password' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"><a class="chevron" href="{{ path('index') }}"><i class="zmdi zmdi-chevron-left"></i></a></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'account.change.password' | trans }}</h1>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="container-fluid settings page-margin">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" class="form-horizontal fos_user_resetting_reset">
            <div class="form-group">
                <div class="col-xs-12">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'id' : 'inputPassword', 'placeholder' : 'account.new.password' | trans } }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'id' : 'inputNewPassword', 'placeholder' : 'account.repeat.new.password' | trans } }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="btn btn-primary btn-full" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
            </div>
            {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
        </form>
    </div>
{% endblock body %}