{% extends "AppBundle:Mobile:base.html.twig" %}
{% block page_title %}{{ 'account.change.password' | trans }}{% endblock %}
{% block body %}
    <div class="page-heading clearfix">
        <div class="col-xs-3"><a class="chevron" href="{{ path('index') }}"><i class="zmdi zmdi-chevron-left"></i></a></div>
        <div class="col-xs-6">
            <h1 class="heading" align="center">{{ 'account.change.password' | trans }}</h1>
        </div>
        <div class="col-xs-3"></div>
    </div>
    <div class="container-fluid settings page-margin">
        {{ form_start(form, {'action': path('fos_user_change_password'), 'method': 'POST', 'class': 'form-horizontal fos_user_change_password'}) }}
            <fieldset>
                <div class="form-group clearfix {% if form_errors(form.current_password) %}has-error {% endif %}">
                      <div class="col-xs-12">
                              {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'id' : 'inputPassword', 'placeholder' : 'account.current.password' | trans} }) }}
                      </div>
                </div>
                <div class="form-group clearfix {% if form_errors(form.plainPassword.first) %}has-error {% endif %}">
                      <div class="col-xs-12">
                              {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'id' : 'inputPlainPasswordFirst', 'placeholder' : 'account.new.password' | trans} }) }}
                      </div>
                </div>
                <div class="form-group clearfix {% if form_errors(form.plainPassword.second) %}has-error {% endif %}">
                      <div class="col-xs-12">
                              {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'id' : 'inputPlainPasswordSecond', 'placeholder' : 'account.repeat.new.password' | trans} }) }}
                      </div>
                </div>
                      {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
                <div class="form-group clearfix">
                      <div class="col-xs-12">
                        <input class="btn btn-primary btn-full" type="submit" value="{{ 'change' | trans }}" />
                      </div>
                </div>
            </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock body %}